<header>
    <!-- comienza nav -->
    <a href="/"
      ><img id="logotipo2" src="/imagenes/Ticket_House_var2.svg" alt="logo"
    /></a>
    <section class="responsiveNav">
      <a href="/"
        ><img id="logotipo" src="/imagenes/Ticket_House_var2.svg" alt="logo"
      /></a>
      <div class="correcionNav">
          <ul class="ButtonBox">
          <li><button> Paginas<i class="fa-solid fa-caret-down"></i></button></li>
          <li><button> Ayuda<i class="fa-solid fa-info"></i></i></i></button></li>
        </ul>
        <form action="" method="POST">
          <div class="searchBar">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
            <input class="search" type="text" placeholder="Buscar tus Artistas" />
          </div>
        </form>
        <ul class="ButtonBox">
          <li>
            <button><a href="/usuario/login">Perfil</a><i class="fa-solid fa-user"></i></button>
          </li>
          <li>
            <button class="correccionPos" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
          </li>
        </ul>
      </div>
    </section>
    <form action="" method="POST">
      <div class="searchBarMin">
        <button class="botonBarMin"><i class="fa-solid fa-magnifying-glass"></i></button>
        <input class="search" type="text" placeholder="Buscar tus Artistas" />
      </div>
    </form>
    <!-- termina el nav -->
  </header>