<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
  <main class="ayudaMain">
    <div>
        <h2 class="tituloAyuda"> Preguntas frecuentes </h2>
            <h3 class="preguntasAyuda">¿Debo registrarme para poder comprar?</h3>
                <h5 class="respuestasAyuda"> Si, ingresando en “Mi Cuenta”, deberá crear un usuario ingresando un email con todos sus datos personales. Sugerimos no prestar su usuario a terceras personas.</h5>
            <h3 class="preguntasAyuda">No me llegó mail de aprobación de compra, ¿qué hago?</h3>
                <h5 class="respuestasAyuda"> Los mails de confirmación de compra pueden demorar hasta 24 hs en llegar. Te pedimos verifiques en tu casilla de correo no deseado.</h5>
            <h3 class="preguntasAyuda">¿Cómo adquiero mis entradas?</h3>
                <h5 class="respuestasAyuda"> Accedé con tu usuario y contraseña para seleccionar los tickets elegidos, y por último completá el proceso de compra con tu tarjeta y disfrutá el show!</h5>
            <h3 class="preguntasAyuda">¿Cuáles son los medios de pago habilitados?</h3>
                <h5 class="respuestasAyuda"> Ingresando a cada evento en “Medios de pago” verá las formas en que podrá abonar su entrada según cada evento en particular.</h5>
            <h3 class="preguntasAyuda">¿Qué descuentos o beneficios tengo con mi banco?</h3>
                <h5 class="respuestasAyuda"> El descuento y/o promoción, si lo hubiese,  estará anunciado en cada evento.</h5>
            <h3 class="preguntasAyuda">¿Cómo se financia la compra al realizarla en cuotas?</h3>
                <h5 class="respuestasAyuda"> Al realizar una compra en cuotas con o sin interés, se financiará sólo el valor neto de la entrada, no así el cargo por servicio y/o de entrega (si los hubiese). Los mismos no tienen financiación e irán incluidos en el primer resumen.</h5>
            <h3 class="preguntasAyuda">¿Qué significa preventa bancaria?</h3>
                <h5 class="respuestasAyuda"> Significa que para un evento particular solo se podrán adquirir entradas con tarjetas emitidas por una entidad bancaria por un período determinado y sobre un stock de entradas limitado. Una vez finalizada la misma se abre la venta general con todos los medios de pago disponibles.</h5>
            <h3 class="preguntasAyuda">Resido en el interior del país, ¿cómo debo realizar la compra?</h3>
                <h5 class="respuestasAyuda"> Vía web, ingresando a <a href="/">Aqui</a> .Con su compra se emitirá un e-ticket válido para el ingreso al evento.</h5>
            <h3 class="preguntasAyuda">¿Los eventos son aptos para todo público?</h3>
                <h5 class="respuestasAyuda"> La información sobre las restricciones de edad estará disponible para cada evento en particular. Podés verificarla en la información del mismo.</h5>
            <h3 class="preguntasAyuda">¿Cómo solicitar un ticket para personas con movilidad reducida?</h3>
                <h5 class="respuestasAyuda"> Esto dependerá del espectáculo para el cual quiera comprar su entrada y la información será publicada en cada evento en particular.</h5>
            <h3 class="preguntasAyuda">¿Qué es el costo por servicio?</h3>
                <h5 class="respuestasAyuda"> Es un costo adicional al valor de cada ticket, que nos permite brindar a nuestros usuarios una mayor rapidez, comodidad y seguridad a la hora de comprar sus tickets.</h5>
            <h3 class="preguntasAyuda">Tickets falsos</h3>
                <h5 class="respuestasAyuda"> Sólo se reconocerán como válidas para ver o ingresar a los espectáculos las entradas adquiridas o retiradas de nuestros puntos de venta y retiro oficiales.</h5>
                <h5 class="respuestasAyuda"> Está prohibida la reventa o cesión de entradas. Tickethouse no se hace responsable por tickets adquiridos fuera de nuestra web o puntos de venta oficiales.</h5>
            <h3 class="preguntasAyuda">¿Puedo comprar desde cualquier parte del mundo?</h3>
                <h5 class="respuestasAyuda"> Las compras internacionales dependen de cada evento. Podrás encontrar dicha información ingresando al mismo.</h5>
            <h3 class="preguntasAyuda">¿Qué es el Botón de arrepentimiento y cómo funciona?</h3>
                <h5 class="respuestasAyuda"> El botón de arrepentimiento es el medio por el cual podés solicitar la devolución de la compra que realizaste siempre y cuando te encuentres dentro de los 10 días corridos a partir de la fecha en que se confirmó tu operación y 72hs antes de que ocurra el evento para el que adquiriste tus tickets.</h5>
                <h5 class="respuestasAyuda"> Ambas condiciones deben cumplirse sin excepciones, por lo que si ya transcurrieron 10 días corridos desde que se confirmó el pago y/o faltan menos de 72hs para la realización del evento no podés pedir el reintegro.</h5>
                <h5 class="respuestasAyuda"> La devolución no tiene ningún costo para vos. </h5>
                <h5 class="respuestasAyuda"> El monto a devolver es por el valor de la entrada adquirida (el servicio de venta ya ha sido consumido por lo que no se devolverá el costo por servicio) y se hará el reintegro por el mismo medio de pago con el que abonaste.</h5>
                <h5 class="respuestasAyuda"> Para más información podés ver los Términos de Uso en nuestra web.</h5>
    </div>
   </main>
    <%- include('../partials/footer') %>
</body>
</html>