<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
  <main class="correccionTamanioCarrito">
    <div>
      <h2 class="tituloCarritoPrimero">Carrito</h2>
      <h3 class="tituloCarritoSegundo">Tickets agregados</h3>
      <div class="CarritoProductoPrincipal">
        <div class="ticketIcon"><i class="fa-solid fa-ticket"></i></div>
        <div class="divCarrito">
          <p class="tituloCarritoTitulo">Evento</p>
        </div>
        <div class="divCarrito">
          <p class="CantidadCarritoTitulo">Cantidad</p>
        </div>
        <div class="divCarrito">
          <p class="precioCarritoTitulo">Precio</p>
        </div>
        <div class="divCarrito">
          <p class="DiaCarritoTitulo">Dia</p>
        </div>
      </div>
        <!-- ------------------------------- -->
      <div class="CarritoProducto">
        <div class="ticketIcon"><i class="fa-solid fa-ticket"></i></div>
        <div class="divCarrito"> 
          <p class="tituloCarrito">Foo Fighters</p>
        </div>
        <div class="divCarrito">
          <p class="CantidadCarrito">5</p>
        </div>
        <div class="divCarrito">
          <p class="precioCarrito">7000$</p>
        </div>
        <div class="divCarrito">
          <p class="DiaCarrito">12 de Octubre</p>
        </div>
     </div>
      <div class="CarritoProducto">
        <div class="ticketIcon"><i class="fa-solid fa-ticket"></i></div>
        <div class="divCarrito"> 
          <p class="tituloCarrito">Foo Fighters</p>
        </div>
        <div class="divCarrito">
          <p class="CantidadCarrito">5</p>
        </div>
        <div class="divCarrito">
          <p class="precioCarrito">7000$</p>
        </div>
        <div class="divCarrito">
          <p class="DiaCarrito">12 de Octubre</p>
        </div>
     </div>
      <div class="CarritoProducto">
        <div class="ticketIcon"><i class="fa-solid fa-ticket"></i></div>
        <div class="divCarrito"> 
          <p class="tituloCarrito">Foo Fighters</p>
        </div>
        <div class="divCarrito">
          <p class="CantidadCarrito">5</p>
        </div>
        <div class="divCarrito">
          <p class="precioCarrito">7000$</p>
        </div>
        <div class="divCarrito">
          <p class="DiaCarrito">12 de Octubre</p>
        </div>
     </div>
    <div class="botomBarCarrito">
        <div>
            <button class="botonAddCarrito"><a href="/producto/catalogo"><i class="fa-solid fa-plus"></i></a></button>
        </div>
        <div >
            <button class="botonCompraCarrito" ><a href="/">Continuar</a></button>
        </div>
        <div >
            <button class="botonBorrarCarrito"><i class="fa-solid fa-trash"></i></button>
        </div>
    </div>
  </main>
    <%- include('../partials/footer') %>
</body>
</html>