<!-- <!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/catalogo.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/c16fe966cc.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <title>Catalogo</title>
  </head>
  <body> -->
<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
      <!-------------------------PRIMERO----------- -->
      <h2 class="titulosCategoria">ACTUALES</h2>
      <div class="cajaCategoria">
        <div class="card">
          <img
            src="/imagenes/catalogo/Weezer.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Weezer </h5>
            <p class="card-text">(Disney Concert Hall)</p>
            <p class="card-text">Los Angeles</p>
            <p class="card-text">Participacion: OneRepublic, Halsey y mas</p>
            <p class="card-text card-date">22 de Octubre</p>
            <!-- <div class="posicionBoton"> -->
              <a href="/producto/detalles" class="btn btn-primary">Ir a detalles</a>
            <!-- </div> -->
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/catalogo/FooFighters.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Foo Fighters</h5>
            <p class="card-text">(Gran Estadio Strahov)</p>
            <p class="card-text">Strahov en Praga</p>
            <p class="card-text">Participacion: Guns N ‘Roses, U2 y Bon Jovi</p>
            <p class="card-text card-date">12 de Octubre</p>
            <a href="/producto/detalles" class="btn btn-primary">Ir a detalles</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/catalogo/SamFender.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Sam Fender</h5>
            <p class="card-text"> (Estadio de Ohio)</p>
            <p class="card-text"> Ohio en Columbus</p>
            <p class="card-text">Participacion: George Strait y Beyonce</p>
            <p class="card-text card-date">30 de Octubre</p>
            <a href="/producto/detalles" class="btn btn-primary">Ir a detalles</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/catalogo/TheStorySoFar.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">The Story So Far</h5>
            <p class="card-text">(Estadio Nacional de Beijing)</p>
            <p class="card-text">Beijing</p>
            <p class="card-text">Participacion: Ed Sheeran</p>
            <p class="card-text card-date">24 de Octubre</p>
            <a href="/producto/detalles" class="btn btn-primary">Ir a detalles</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/catalogo/One-Republic.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">One Republic</h5>
            <p class="card-text"> (Mineirão)</p>
            <p class="card-text"> Belo Horizonte, Brasil</p>
            <p class="card-text">Participacion: Kiss, Beyonce y John Mayer</p>
            <p class="card-text card-date">25 de Octubre</p>
            <a href="/producto/detalles" class="btn btn-primary">Ir a detalles</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/catalogo/Marron-5.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Maroon 5</h5>
            <p class="card-text">(Qudos Bank Arena)</p>
            <p class="card-text">Sydney, Australia</p>
            <p class="card-text">Participacion: Katy Perry y Jay Chou </p>
            <p class="card-text card-date">30 de Octubre</p>
            <a href="/producto/detalles" class="btn btn-primary">Ir a detalles</a>
          </div>
        </div>
      </div>
      <!-------------------------SEGUNDO----------- -->
      <h2 class="titulosCategoria">NUEVOS</h2>
      <div class="cajaCategoria">
        <div class="card">
          <img
            src="/imagenes/catalogo/MGK.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Machine Gun Kelly</h5>
            <p class="card-text">(Estadio de Wembley)</p>
            <p class="card-text">Londres, Inglaterra</p>
            <p class="card-text">Parte de su gira mundia</p>
            <p class="card-text card-date">11 de Noviembre</p>
            <a href="/producto/detalles" class="btn btn-primary">Ir a detalles</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/catalogo/AvrilLavigne.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Avril Lavigne</h5>
            <p class="card-text">(Estadio Nacional Bukit Jalil)</p>
            <p class="card-text">Bukit Jalil</p>
            <p class="card-text">Participacion: Ed Sheeran y Paramore</p>
            <p class="card-text card-date">21 de Noviembre</p>
            <a href="/producto/detalles" class="btn btn-primary">Ir a detalles</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/catalogo/not-Img.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">-------</h5>
            <p class="card-text">---------</p>
            <p class="card-text">------------------</p>
            <p class="card-text card-date">-------</p>
            <!-- <a href="/producto/detalles" class="btn btn-primary">Ir a detalles</a> -->
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/catalogo/not-Img.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">-------</h5>
            <p class="card-text">---------</p>
            <p class="card-text">------------------</p>
            <p class="card-text card-date">-------</p>
            <!-- <a href="/producto/detalles" class="btn btn-primary">Ir a detalles</a> -->
          </div>
        </div>
      </div>
      <!-------------------------TERCERO----------- -->
      <h2 class="titulosCategoria">PROXIMAMENTE</h2>
      <div class="cajaCategoria">
        <div class="card">
          <img
          src="/imagenes/catalogo/GreenDay.jpg"
          class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day </h5>
            <p class="card-text">(Estadio Hollywood)</p>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Diciembre</p>
            <a href="/producto/detalles" class="btn btn-primary">Ir a detalles</a>
          </div>
        </div>
        <div class="card">
          <img
          src="/imagenes/catalogo/Paramore.jpg"
          class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Paramore </h5>
            <p class="card-text">(Estadio Maracaná)</p>
            <p class="card-text">Río de Janeiro, Brasil</p>
            <p class="card-text">Participacion: Frank Sinatra y Foo Fighters</p>
            <p class="card-text card-date">19, 20 y 21 de Diciembre</p>
            <a href="/producto/detalles" class="btn btn-primary">Ir a detalles</a>
          </div>
        </div>
        <div class="card">
          <img
          src="/imagenes/catalogo/AgainstTheCurrent.jpg"
          class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Against The Current</h5>
            <p class="card-text">(Veemarktstraat)</p>
            <p class="card-text">Tilburg, Netherlands</p>
            <p class="card-text">Capacidad: 2,200 personas</p>
            <p class="card-text card-date">12 de diciembre</p>
            <a href="/producto/detalles" class="btn btn-primary">Ir a detalles</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/catalogo/CatfishandTheBottlemen.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Catfish and The Bottlemen </h5>
            <p class="card-text">(Manchester Arena)</p>
            <p class="card-text">Inglaterra. Manchester</p>
            <p class="card-text">Participacion: Take That y Britney Spears</p>
            <p class="card-text card-date">28 de diciembre</p>
            <a href="/producto/detalles" class="btn btn-primary">Ir a detalles</a>
          </div>
        </div>
      </div>
      <!-------------------------CUARTO----------- -->
      <h2 class="titulosCategoria">PASADOS</h2>
      <div class="cajaCategoria">
        <div class="card">
          <img
          src="/imagenes/catalogo/BMTH.jpg"
          class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Bring Me The Horizon </h5>
            <p class="card-text"> (Olímpico de Seúl)</p>
            <p class="card-text"> Seúl, Corea del Sur</p>
            <!-- <p class="card-text">Circuit of the Americas</p> -->
            <p class="card-text card-date">26 de Septiembre</p>
            <!-- <a href="/producto/detalles" class="btn btn-primary">Ir a detalles</a> -->
          </div>
        </div>
        <div class="card">
          <img
          src="/imagenes/catalogo/ArcticMonkeys.jpg"
          class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Arctic Monkeys </h5>
            <p class="card-text">(Anfiteatro Gorge)</p>
            <p class="card-text">George, Washington</p>
            <!-- <p class="card-text">Circuit of the Americas</p> -->
            <p class="card-text card-date">21 de Septiembre</p>
            <!-- <a href="/producto/detalles" class="btn btn-primary">Ir a detalles</a> -->
          </div>
        </div>
        <div class="card">
          <img
          src="/imagenes/catalogo/Ed-Sheeran.jpg"
          class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Ed Sheeran </h5>
            <p class="card-text">(Romexpo)</p>
            <p class="card-text">Bucarest, Rumania</p>
            <!-- <p class="card-text">Circuit of the Americas</p> -->
            <p class="card-text card-date">19 de Septiembre</p>
            <!-- <a href="/producto/detalles" class="btn btn-primary">Ir a detalles</a> -->
          </div>
        </div>
        <div class="card">
          <img
          src="/imagenes/catalogo/TOP.jpg"
          class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Twenty One Pilots </h5>
            <p class="card-text">(Paris La Défense Arena)</p>
            <p class="card-text">Paris, Francia</p>
            <!-- <p class="card-text">Circuit of the Americas</p> -->
            <p class="card-text card-date">13 de Septiembre</p>
            <!-- <a href="/producto/detalles" class="btn btn-primary">Ir a detalles</a> -->
          </div>
        </div>
        <div class="card">
          <img
          src="/imagenes/catalogo/Coldplay.jpg"
          class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Coldplay </h5>
            <p class="card-text">(Friends Arena)</p>
            <p class="card-text">Estocolmo, Suecia</p>
            <!-- <p class="card-text">Circuit of the Americas</p> -->
            <p class="card-text card-date">1 de Septiembre</p>
            <!-- <a href="/producto/detalles" class="btn btn-primary">Ir a detalles</a> -->
          </div>
        </div>
      </div>
      <!-------------------------QUINTO----------- -->
      <h2 class="titulosCategoria">SPONSOR</h2>
      <div class="cajaCategoria">
        <div class="card">
          <img
          src="/imagenes/catalogo/Sponsor/Coca.jpg"
          class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="SponsorHREF"><a href="https://www.coca-cola.com.ar">Coca Cola</a></h5>
            <!-- <p class="card-text">Austin, Tx, Us</p> -->
            <p class="card-text">Acompañandonos Siempre</p>
            <p class="card-text card-date">Tel:2525 23552</p>
            <!-- <a href="/producto/detalles" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
        <div class="card">
          <img
          src="/imagenes/catalogo/Sponsor/Samsung.jpg"
          class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="SponsorHREF"><a href="https://www.samsung.com">Samsung</a></h5>
            <!-- <p class="card-text">Austin, Tx, Us</p> -->
            <p class="card-text">Acompañandonos Siempre</p>
            <p class="card-text card-date">Tel:2525 23552</p>
            <!-- <a href="/producto/detalles" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
        <div class="card">
          <img
          src="/imagenes/catalogo/Sponsor/Toyota.jpg"
          class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="SponsorHREF"><a href="https://www.toyota.com.ar">Toyota</a></h5>
            <!-- <p class="card-text">Austin, Tx, Us</p> -->
            <p class="card-text">Acompañandonos Siempre</p>
            <p class="card-text card-date">Tel:2525 23552</p>
            <!-- <a href="/producto/detalles" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
        <div class="card">
          <img
          src="/imagenes/catalogo/Sponsor/Visa.jpg"
          class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="SponsorHREF"><a href="https://www.visa.com.ar">Visa</a> </h5>
            <!-- <p class="card-text">Austin, Tx, Us</p> -->
            <p class="card-text">Acompañandonos Siempre</p>
            <p class="card-text card-date">Tel:2525 23552</p>
            <!-- <a href="/producto/detalles" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
    <!-- ----------SideBar----- -->
    <%- include('../partials/carrito') %>
  </body>
</html>
