<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <div class="divParaGradiant"></div>
    <main class="mainRegister">
        <form class="formularioAdmin" action="/administrador" method="POST" enctype="multipart/form-data" class="form-box">
            <h1 class="form-title">Creacion De Evento</h1>
            <div class="cajaAdmin">
                <label for="Nombre"></label>
                <input required type="text"  name="nombre_evento" placeholder="Nombre del Evento">
            </div>
            <div class="cajaAdmin"> 
                <label for="Dia"></label>
                <input required type="date" name="fecha">
            </div>
            <div class="cajaAdmin"> 
                <label for="Ubicacion"></label>
                <input required type="text" name="ubicacion"  placeholder="Ubicacion">
            </div>
            <div class="cajaAdmin"> 
                <label for="Sede"></label>
                <input required type="text" name="sede" placeholder="Sede">
            </div>
            <div class="cajaAdmin"> 
                <label for="Participacion"></label>
                <input required type="text" name="participacion" placeholder="Participacion especial">
            </div>
            <div class="cajaAdmin"> 
                <label for="Capacidad"></label>
                <input required type="number" min="0" name="capacidad_sede" placeholder="Capacidad de la sede">
            </div>
            <div class="cajaAdmin"> 
                <label for="Price"></label>
                <input required type="number" min="0" name="precio" placeholder="Inserte Un Precio $$$">
            </div>
            <div class="cajaAdmin"> 
                <label for="Horario"></label>
                <!-- revisar number por date -->
                <input required type="number" min="0" name="horario" placeholder="Inserte un horario">
            </div>
            <div class="cajaAdmin"> 
                <label  for="Categoria">Categoria</label>
                <select class="opcionesCategoria" required name="id_categoria">
                    <option  value="">Seleccione</option> 
                    <option  value="1">Actuales</option> 
                    <option  value="2">Nuevos</option> 
                    <option  value="3">Proximos</option> 
                </select>
            </div>
            <label class="colorCase" for="evento_id">Genero de la Banda</label>
            <div class="categoriasCheckbox"> 
                <div>
                    <label for="rock">Rock</label>
                  <input type="checkbox" id="rock" name="evento_id" value="1">
                </div>
                <div>
                    <label for="hard-rock">Hard Rock</label>
                  <input type="checkbox" id="hard-rock" name="evento_id" value="2">
                </div>
                <div>
                    <label for="pop">Pop</label>
                  <input type="checkbox" id="pop" name="evento_id" value="3">
                </div>
                <div>
                    <label for="Rock Alternativo">Rock Alternativo</label>
                  <input type="checkbox" id="pop" name="evento_id" value="4">
                </div>
                <div>
                    <label for="Pop Rock">Pop Rock</label>
                  <input type="checkbox" id="pop" name="evento_id" value="5">
                </div>
                <div>
                    <label for="Pop Punk">Pop Punk</label>
                  <input type="checkbox" id="pop" name="evento_id" value="6">
                </div>
            </div>
            <div class="cajaAdmin">
                <label for="Descripcion-Evento">Descripcion del Evento</label>
                <textarea class="textArea" required name="descripcion" placeholder="Descripcion breve del evento y/o sobre el show principal"></textarea>
            </div>
            <div class="cajaAdmin">
                <label for="Biografia">Biografia Breve</label>
                <textarea class="textArea" required name="biografia" placeholder="Descripcion breve de la biografia de la banda/evento"></textarea>
            </div>
            <div class="cajaAdmin">
                <label for="fotoEvento">
                    <div class="label">Seleccione Foto de Evento</div>
                    <div class="fotoEventoAdmin"><input required type="file" name="foto_evento" required></div>
                </label>
            </div>
            <div class="cajaAdminSend">
                <button type="submit">Enviar</button>
            </div>
            <div class="cajaAdminSend">
                <button type="reset"><h6>Borrar</h6></button>
            </div>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>