<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <h2 class="nombreEvento1">Weezer - Walt Disney Concert Hall</h2>
        <div class="cajaDetalles">
                <div class="cajaImagen">
                    <img class="imgTicket" src="/imagenes/detallesProducto/ticket.jpg" alt="ticket">
                    <div class="cajaDescripcionBanda">
                    <p class="descripcionBanda"> Weezer es una banda estadounidense de rock alternativo y power pop
                    formada en Los Ángeles, California en 1992. La banda ha lanzado
                    nueve álbumes y vendido más de 10 millones de álbumes en los EE.
                    UU.</p>
                </div>
            </div>
            <div class="cajaDescripcion">
            <div>
                <h2 class="nombreEvento2">Weezer - Walt Disney Concert Hall</h2>
                <div class="cajaDatos">
                    <h3>Datos del Evento</h3>
                    <p>Ubicacion: Los Angeles.</p>
                    <p>Sede: Walt Disney Concert Hall.</p>
                    <p>Dia: 22 de Ocutubre</p>
                    <p>Precio: 5.000$</p>
                    <p>Horario: 19hs</p>
                    <p>Participacion especial: OneRepublic, Halsey, Alanis Morissette, y Garbage.</p>
                </div>
                <div class="subDescripcion">
                    <p>Los legendarios rockeros Weezer reimaginan su último álbum más los
                    clásicos con la Orquesta Filarmónica de Los Ángeles. Grabado y
                    capturado en el imponente Disney Hall. Disponible para VOD ahora.</p> 
                </div>
                <div class="cajaPago">
                    <div class="subCaja">
                        <div class="cajaCantidad">
                            <!-- <input type="number"> -->
                        </div>
                        <h4>Cantidad</h4>
                    </div>
                    <div class="subCaja">
                        <div class="cajaTotal"></div>
                        <h4>Total</h4>
                    </div>
                </div>
                <div>
                    <label class="positionCondiciones"><input type="checkbox" name="terminos" value="terminos">He leido y acepto los "<a href="/">Terminos y Condiciones</a>"</label>
                </div>
                <button class="botonPago" type="submit"><a href="/">Continuar a metodo de pago</a></button>
            </div>
        </div>
    </div>
    <div class="bannerFooter">
        <img src="/imagenes/DetallesProducto/BannerDetallesProducto.jpg" alt="bannerFooter">
    </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
