<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/catalogo.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/c16fe966cc.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <title>Catalogo</title>
  </head>
  <body>
    <header>
      <!-- comienza nav -->
      <a href="/"
        ><img id="logotipo2" src="/imagenes/Ticket_House_var2.svg" alt="logo"
      /></a>
      <section class="responsiveNav">
        <a href="/"
          ><img id="logotipo" src="/imagenes/Ticket_House_var2.svg" alt="logo"
        /></a>
        <ul class="ButtonBox">
          <li><button>Paginas</button></li>
          <li><button>Ayuda</button></li>
        </ul>
        <div class="searchBar">
          <button><i class="fa-solid fa-magnifying-glass"></i></button>
          <input class="search" type="text" placeholder="Buscar tus Artistas" />
        </div>
        <ul class="ButtonBox">
          <li>
            <button><i class="fa-solid fa-user"></i></button>
          </li>
          <li>
            <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
          </li>
        </ul>
      </section>
      <div class="searchBarMin">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
        <input class="search" type="text" placeholder="Buscar tus Artistas" />
      </div>
    </header>
    <main>
      <!-------------------------PRIMERO----------- -->
      <h2 class="titulosCategoria">ACTUALES</h2>
      <div class="cajaCategoria">
        <div class="card">
          <img
            src="/imagenes/GreenDay.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day (Hollywood)</h5>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Octubre</p>
            <a href="/Detalles" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/GreenDay.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day (Hollywood)</h5>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Octubre</p>
            <a href="/Detalles" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/GreenDay.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day (Hollywood)</h5>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Octubre</p>
            <a href="/Detalles" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/GreenDay.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day (Hollywood)</h5>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Octubre</p>
            <a href="/Detalles" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="card">
          <img
            src="/imagenes/GreenDay.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day (Hollywood)</h5>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Octubre</p>
            <a href="/Detalles" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/GreenDay.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day (Hollywood)</h5>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Octubre</p>
            <a href="/Detalles" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/GreenDay.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day (Hollywood)</h5>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Octubre</p>
            <a href="/Detalles" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <!-------------------------SEGUNDO----------- -->
      <h2 class="titulosCategoria">NUEVOS</h2>
      <div class="cajaCategoria">
        <div class="card">
          <img
            src="/imagenes/GreenDay.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day (Hollywood)</h5>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Octubre</p>
            <a href="/Detalles" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/GreenDay.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day (Hollywood)</h5>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Octubre</p>
            <a href="/Detalles" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/GreenDay.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day (Hollywood)</h5>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Octubre</p>
            <a href="/Detalles" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/GreenDay.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day (Hollywood)</h5>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Octubre</p>
            <a href="/Detalles" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <!-------------------------TERCERO----------- -->
      <h2 class="titulosCategoria">PROXIMAMENTE</h2>
      <div class="cajaCategoria">
        <div class="card">
          <img
            src="/imagenes/GreenDay.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day (Hollywood)</h5>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Octubre</p>
            <a href="/Detalles" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/GreenDay.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day (Hollywood)</h5>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Octubre</p>
            <a href="/Detalles" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/GreenDay.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day (Hollywood)</h5>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Octubre</p>
            <a href="/Detalles" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/GreenDay.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day (Hollywood)</h5>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Octubre</p>
            <a href="/Detalles" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <!-------------------------CUARTO----------- -->
      <h2 class="titulosCategoria">PASADOS</h2>
      <div class="cajaCategoria">
        <div class="card">
          <img
            src="/imagenes/GreenDay.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day (Hollywood)</h5>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Octubre</p>
            <a href="/Detalles" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/GreenDay.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day (Hollywood)</h5>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Octubre</p>
            <a href="/Detalles" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/GreenDay.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day (Hollywood)</h5>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Octubre</p>
            <a href="/Detalles" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/GreenDay.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day (Hollywood)</h5>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Octubre</p>
            <a href="/Detalles" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <!-------------------------QUINTO----------- -->
      <h2 class="titulosCategoria">PATROSINIO</h2>
      <div class="cajaCategoria">
        <div class="card">
          <img
            src="/imagenes/GreenDay.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day (Hollywood)</h5>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Octubre</p>
            <a href="/Detalles" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/GreenDay.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day (Hollywood)</h5>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Octubre</p>
            <a href="/Detalles" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/GreenDay.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day (Hollywood)</h5>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Octubre</p>
            <a href="/Detalles" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <img
            src="/imagenes/GreenDay.jpg"
            class="card-img-top"
            alt="ImgBand"
          />
          <div class="card-body">
            <h5 class="card-title">Green Day (Hollywood)</h5>
            <p class="card-text">Austin, Tx, Us</p>
            <p class="card-text">Circuit of the Americas</p>
            <p class="card-text card-date">21, 22 y 23 de Octubre</p>
            <a href="/Detalles" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <!-- footer -->
      <div id="footerBox">
        <div id="iconsFooter">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-youtube"></i>
          <i class="fa-brands fa-tiktok"></i>
        </div>
        <ul id="helpList">
          <li class="itemFooter">FAQ</li>
          <li class="itemFooter">|</li>
          <li class="itemFooter">Sobre</li>
          <li class="itemFooter">|</li>
          <li class="itemFooter">Contacto</li>
          <li class="itemFooter">|</li>
          <li class="itemFooter">Artistas</li>
          <li class="itemFooter">|</li>
          <li class="itemFooter">Terminos y Condiciones</li>
          <li class="itemFooter">|</li>
          <li class="itemFooter">Politicas</li>
        </ul>
      </div>
    </footer>
    <!-- ----------SideBar----- -->
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasExample"
      aria-labelledby="offcanvasExampleLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Lista de productos
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <div class="listaTitulo"></div>
        <div class="cajaProductos">
            <h4 id="segundoTitulos">Productos</h4>
            <div class="producPrueba"><h5>Prueba de Producto $$$$$ Dia:Tal</h5></div>
            <div class="producPrueba"><h5>Prueba de Producto $$$$$ Dia:Tal</h5></div>
            <div class="producPrueba"><h5>Prueba de Producto $$$$$ Dia:Tal</h5></div>
            <button class="botonAdd"><a href="/Catalogo"><i class="fa-solid fa-plus"></i></a></button>
        </div>
        <div class="botonCompra">
            <button ><a href="/">Comprar</a></button>
        </div>
  </body>
</html>
