<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c16fe966cc.js" crossorigin="anonymous"></script>
    <title>|Ticket House|</title>
</head>
<body>
    <header>
        <!-- comienza nav -->
        <section class="responsiveNav">
            <img id="logotipo" src="/imagenes/Prototipo de logo.jpeg" alt="logo">
            <div class="ButtonBox">
                <button id="button1">Opciones</button>
                <button id="button2"><i class="fa-solid fa-user"></i></button>
                <button id="button3"><i class="fa-solid fa-cart-shopping"></i></button>
            </div>
         </section>
            <div class="searchBar">    
                <button id="searchIcon"><i class="fa-solid fa-magnifying-glass"></i></button> 
                <input class="search" type="text" placeholder="Buscar tus Artistas">
            </div>
        <!-- termina el nav -->
    </header>
    <main></main>
    <footer>
        <!-- footer -->
        <div id="footerBox">
            <div id="iconsFooter">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-tiktok"></i>
            </div>
            <ul id="helpList">
                <li class="itemFooter">FAQ</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Sobre</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Contacto</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Artistas</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Terminos y Condiciones</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Politicas</li>
            </ul>
        </div>
    </footer>
</body>
</html>