<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c16fe966cc.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <title>|Ticket House|</title>
</head>
<body>
    <header>
        <!-- comienza nav -->
        <section class="responsiveNav">
            <img id="logotipo" src="/imagenes/Ticket_House_var2.svg" alt="logo">
            <ul class="ButtonBox">
                <li><button >Ayuda</button></li>
                <li><button ><i class="fa-solid fa-user"></i></button></li>
                <li><button ><i class="fa-solid fa-cart-shopping"></i></button></li>
            </ul>
         </section>
            <div class="searchBar">    
                <button><i class="fa-solid fa-magnifying-glass"></i></button> 
                <input class="search" type="text" placeholder="Buscar tus Artistas">
            </div>
        <!-- termina el nav -->
    </header>
    <main>
        <!--Carrusel Bootstrap comienzo -->
        <!-- <h3 class="tituloSuperior">Novedades</h3> -->
        <div id="carouselExampleSlidesOnly" class="carousel slide countainerSlider" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/imagenes/banner-chayanne.jpg" class="d-block w-100" alt="banner1">
              </div>
              <div class="carousel-item">
                <img src="/imagenes/banner-chayanne.jpg" class="d-block w-100" alt="banner2">
              </div>
              <div class="carousel-item">
                <img src="/imagenes/banner-chayanne.jpg" class="d-block w-100" alt="banner3">
              </div>
            </div>
          </div>
           <!--Carrusel Bootstrap fin -->
          <section class="contenedorCategoria">
            <div><h4 class="tituloInferior">EVENTOS</h4></div>
            <div class="contenedorCajas">
                <button class="botonCaja">ACTUALES</button>
                <button class="botonCaja">NUEVOS</button>
                <button class="botonCaja">PROXIMOS</button>
                <button class="botonCaja">PASADOS</button>
                <button class="botonCaja">PATROSINIO</button>
            </div>
          </section>
    </main>
    <!-- footer -->
    <footer>
        <div id="footerBox">
            <div id="iconsFooter">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-tiktok"></i>
            </div>
            <ul id="helpList">
                <li class="itemFooter">FAQ</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Sobre</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Contacto</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Artistas</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Terminos y Condiciones</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Politicas</li>
            </ul>
        </div>
    </footer>
</body>
</html>