<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://kit.fontawesome.com/f6bdca605d.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <header class="header">
        <img class="logo" src="/imagenes/Ticket_House_var1.svg" alt="logo" />
    </header>
    <main class="main">
        <form action="" class="form-box">
            <h1 class="form-title">Login</h1>
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <input type="checkbox" placeholder="Remember Me">
            <h4>Remember Me</h4>
            <a href="#" class="recuperar-contraseña"> ¿Olvidaste tu Contraseña?
            <button type="submit">
                Login
            </button>
        </form>
    </main>
    <!-- footer -->
    <footer>
        <div id="footerBox">
            <div id="iconsFooter">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-tiktok"></i>
            </div>
            <ul id="helpList">
                <li class="itemFooter">FAQ</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Sobre</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Contacto</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Artistas</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Terminos y Condiciones</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Politicas</li>
            </ul>
        </div>
    </footer>
</body>
</html>