<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <script src="https://kit.fontawesome.com/f6bdca605d.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <header class="header">
        <img class="logo" src="/imagenes/logo.jpeg" alt="logo" />
    </header>
    <main class="main">
        <form action="" class="form-box">
            <h1 class="form-title">Login</h1>
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <input type="checkbox" placeholder="Remember Me">
            <h4>Remember Me</h4>
            <a href="#" class="recuperar-contraseña"> ¿you forgot the password?
            <button type="submit">
                Login
            </button>
        </form>
    </main>
</body>
</html>