<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/f6bdca605d.js" crossorigin="anonymous"></script>
    <title>Register</title>
</head>
<body>
    <header>
        <a href="/"><img class="logo" src="/imagenes/Ticket_House_var1.svg" alt="logo" /></a>
    </header>
    <main class="main">
        <form action="" class="form-box">
            <h1 class="form-title">Register</h1>
            <div>
                <label for="nombre"></label>
                <input required type="text"  name="nombre" id="nombreCompleto" placeholder="Nombre y apellido" minlength="8">
            </div>
            <div>
                <label for="nombre"></label> 
                <input required type="text"  name="SubNombre" id="Usuario" placeholder="Nombre de Usuario" minlength="8">
                <samp class="feedback"></samp>
            </div>
            <div>
                <label for="nombre"></label>
                <input required type="text"  name="mail" id="email" placeholder="E-mail">
                <samp class="feedback"></samp>
            </div>
            <div>
                <label for="contrasenia"></label>
                <input required type="password" name="contrasenia" placeholder="Contraseña">
                <samp class="feedback"></samp>
            </div>
            <div>
                <label for="contrasenia"></label>
                <input required type="password" name="contrasenia" placeholder="Repetir la contraseña">
                <samp class="feedback"></samp>
            </div>
            <div>
                <button class="botonSumit" type="submit"><a href="/">Enviar</a></button>
            </div>
        </form>
    </main>
    <footer>
        <div id="footerBox">
            <div id="iconsFooter">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-tiktok"></i>
            </div>
            <ul id="helpList">
                <li class="itemFooter">FAQ</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Sobre</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Contacto</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Artistas</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Terminos y Condiciones</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Politicas</li>
            </ul>
        </div>
    </footer>
</body>
</html>