<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/f6bdca605d.js" crossorigin="anonymous"></script>
    <title>Register</title>
</head>
<body>
    <header>
        <!-- comienza nav -->
        <a href="/"
          ><img id="logotipo2" src="/imagenes/Ticket_House_var2.svg" alt="logo"
        /></a>
        <section class="responsiveNav">
          <a href="/"
            ><img id="logotipo" src="/imagenes/Ticket_House_var2.svg" alt="logo"
          /></a>
          <div class="correcionNav">
              <ul class="ButtonBox">
              <li><button>Paginas <i class="fa-solid fa-caret-down"></i></button></li>
              <li><button>Ayuda <i class="fa-solid fa-info"></i></i></i></button></li>
            </ul>
            <!-- <div class="searchBar">
              <button><i class="fa-solid fa-magnifying-glass"></i></button>
              <input class="search" type="text" placeholder="Buscar tus Artistas" />
            </div> -->
            <ul class="ButtonBox">
              <li>
                <button><a href="/usuario/login"> Perfil</a> <i class="fa-solid fa-user"></i></button>
              </li>
              <!-- <li>
                <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                  <i class="fa-solid fa-cart-shopping"></i>
                </button>
              </li> -->
            </ul>
          </div>
        </section>
        <!-- <div class="searchBarMin">
          <button class="botonBarMin"><i class="fa-solid fa-magnifying-glass"></i></button>
          <input class="search" type="text" placeholder="Buscar tus Artistas" />
        </div> -->
        <!-- termina el nav -->
      </header>
    <!-- <header>
        <a href="/"><img class="logo" src="/imagenes/Ticket_House_var1.svg" alt="logo" /></a>
    </header> -->
    <main class="main">
        <form action="" class="form-box">
            <h1 class="form-title">Register</h1>
            <div class="correcionCajasForm">
                <label for="nombre"></label>
                <input required type="text"  name="nombre" id="nombreCompleto" placeholder="Nombre y apellido" minlength="8">
            </div>
            <div class="correcionCajasForm">
                <label for="nombre"></label> 
                <input required type="text"  name="SubNombre" id="Usuario" placeholder="Nombre de Usuario" minlength="8">
                <samp class="feedback"></samp>
            </div>
            <div class="correcionCajasForm">
                <label for="nombre"></label>
                <input required type="email"  name="mail" id="email" placeholder="E-mail">
                <samp class="feedback"></samp>
            </div>
            <div class="correcionCajasForm"> 
                <label for="contrasenia"></label>
                <input required type="password" name="contrasenia" placeholder="Contraseña">
                <samp class="feedback"></samp>
            </div>
            <div class="correcionCajasForm">
                <label for="contrasenia"></label>
                <input required type="password" name="contrasenia" placeholder="Repetir la contraseña">
                <samp class="feedback"></samp>
            </div>
            <div class="cajaSend">
                <button class="botonSumit" type="submit"><a href="/">Enviar</a></button>
            </div>
        </form>
    </main>
    <footer>
        <div id="footerBox">
            <div id="iconsFooter">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-tiktok"></i>
            </div>
            <ul id="helpList">
                <li class="itemFooter">FAQ</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Sobre</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Contacto</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Artistas</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Terminos y Condiciones</li>
                <li class="itemFooter">|</li>
                <li class="itemFooter">Politicas</li>
            </ul>
        </div>
    </footer>
</body>
</html>