.formularioAdmin{
    width: 75%;
    padding: 10px;
    height: 100%;
    background: #191919;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
}

.cajaAdmin{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.colorCase{
    color: rgb(173, 173, 0);;
}
.cajaAdmin label{
    color: rgb(173, 173, 0);;
    text-align: center;
}
.opcionesCategoria{
    text-align: center;
    width: 50%;
    border-radius: 7px;
    background: #191919;
    border: 2px solid rgb(173, 173, 0);
    height: 50px;
    color: gray;
}
.categoriasCheckbox{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
}
.categoriasCheckbox label{
    display: flex;
    color: rgb(173, 173, 0);;
}

.textArea{
    width: 50%;
    text-align: center;
    color: white;
    border: 2px solid rgb(173, 173, 0);
    background: #191919;
    border-radius: 5px;
}
.fotoEventoAdmin{
    text-align: center;
    color: white;
    border: 2px solid rgb(173, 173, 0);
    background: #191919;
    /* border-radius: 24px; */
}
.cajaAdmin input[type="text"],
.cajaAdmin input[type="number"],
.cajaAdmin input[type="date"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    border: 2px solid rgb(173, 173, 0);
    text-align: center;
    border-radius: 24px;
    width: 70%;
    outline: none;
    color: #ffffff;
    transition: 0.25s;
}

.cajaAdmin input[type="text"]:focus,
.cajaAdmin input[type="number"]:focus,
.cajaAdmin input[type="date"]:focus{
    width: 50%;
    border-color: #ffffff;
}

.cajaAdminSend button{
    border: 0;
    background: #3742fa;
    cursor: pointer;
    margin: auto;
    width: 40%;
    border-radius: 20px;
    margin: 10px;
    height: 40px;
    color: white;
}
.cajaAdminSend a{
    text-decoration: none;
    color: white;
    font-size: 15;
}
.cajaAdminSend h6{
    text-decoration: none;
    color: white;
    position: relative;
    top: 2px;
}
.cajaAdminSend:hover a{
 color: white;
}
