.correccionTamanioCarrito{
    height: 83vh;
}
.tituloCarritoPrimero{
    color: white;
    text-align: center;
    margin: 5px;
    margin-top: 15px;
}
.tituloCarritoSegundo{
    color: white;
    text-align: center;
    margin: 5px;
    border-bottom:solid 0.5px rgb(190, 190, 0);
}
.CarritoProductoPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #3b4046;
    margin: 5px 0px 5px 0px;
}
.ticketIcon{
    font-size: 50px;
    color: gold;
}
.ticketIconComprado i{
    font-size: 50px;
    color:green;
}
.ticketIconNoComprado i{
    font-size: 50px;
    color:red;
}
.tituloCarritoTitulo{
    color:rgb(255, 251, 210);
    font-size: 25px;
    margin-top: 1rem;
    width: 20vw;
    text-align: center;
}
.CantidadCarritoTitulo{
    color:gold;
    font-size: 25px;
    margin-top: 1rem;
    width: 20vw;
    text-align: center;
}
.precioCarritoTitulo{
    color:gold;
    font-size: 25px;
    margin-top: 1rem;
    width: 20vw;
    text-align: center;
}
.DiaCarritoTitulo{
    color:gold;
    font-size: 25px;
    margin-top: 1rem;
    width: 20vw;
    text-align: center;
}
.CarritoProducto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #3b4046;
    margin: 5px 0px 5px 0px;
}
.CarritoProducto p{
    margin-top: 1rem;
    color: white;
    font-size: 18px;
    width: 20vw;
    text-align: center;
}
.divCarrito{
    border-left:solid 2px gold;
    border-right:solid 2px gold;
}
.botomBarCarrito{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}
.botonAddCarrito{
    border:solid 1px gold;
    background-color: #242c35;
}
.botonAddCarrito a{
    color: white;
    transition: 450ms;
}
.botonCompraCarrito{
    border:solid 1px gold;
    background-color: #242c35; 
    position: relative;
    top: 15px;   
    border-radius: 5px;
}
.botonCompraCarrito{
    text-decoration: none;
    color: white;
    transition: 450ms;
}
.botonBorrarCarrito{
    border:solid 1px green;
    background-color: #242c35;    
}
.botonBorrarCarrito i{
    text-decoration: none;
    color: white;
    transition: 450ms;
}
.botonBorrarCarritoRealizado{
    border:solid 1px red;
    background-color: #242c35;    
}
.botonBorrarCarritoRealizado i{
    text-decoration: none;
    color: white;
    transition: 450ms;
}
.divCompra{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

/* ----------hover--------- */
.botonAddCarrito:hover a{
    color: gold;
}
.botonCompraCarrito:hover{
    color: gold;
}
.botonBorrarCarrito:hover i{
    color: green;
}
.botonBorrarCarritoRealizado:hover{
    color: gold;
}
.botonBorrarCarritoRealizado:hover i{
    color: red;
}
/* ------------ */
@media (max-width: 450px){
    .ticketIcon{
        font-size: 30px;
    }
    .ticketIconComprado i{
        font-size: 30px;
    }
    .ticketIconNoComprado i{
        font-size: 30px;
    }
    .CarritoProductoPrincipal p{
        font-size: 18px;
    }
    .CarritoProducto p{
        font-size: 14px;
    }
    .CarritoProducto{
        margin-top: 8px;
        margin-bottom: 8px;
    }
}