/* -----------Main---------- */
.titulosCategoria{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
    color: rgb(0, 20, 255);
    transition: all 1s;
}
.cajaCategoria {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: nowrap;
    margin: 8px;
    margin-right: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: scroll;
  }
  .card {
    padding: .5rem;
    margin: 10px;
    font-size: 1.2rem;
    text-align: center;
    background-color: #333;
    scroll-snap-align: center;
    min-width: 300px !important;
    transition: all 0.5s;
  }
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
    font-size: 13px;
    margin-bottom: 3px;
    /* margin-left: 20px; */
}
.card-date{
    font-size: 15px;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    /* margin-top: auto; */
}
.card-body a{
    display: block;
    /* background-color: white;
    color: blue;
    border: none; */
    transition: all 0.5s;
    width: 100%;
    margin-top: auto;
}
/* .posicionBoton{
    display: flex;
    justify-content: flex-end;
} */
/* -----Hover---- */
.card:hover .card-body a{
    background-color: white;
    color: blue;
    border: none;
}
.titulosCategoria:hover{
    background-color: blue;
    color: white;
    border-radius: 10px;
}
.card:hover{
    box-shadow: 0px 0px 15px rgb(100, 100, 100);
}
/* ----------- */
@media (max-width: 715px) {
    .card{
        min-width: 200px !important;
    }
  } 