/* -----------Main---------- */
.titulosCategoria{
    display: flex;
    justify-content: center;
    margin: auto;
    color: rgb(0, 20, 255);
    transition: all 1s;
}
.cajaCategoria{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
}
.card{
    width: 20%;
    transition: all 0.5s;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
    font-size: 13px;
    margin-bottom: 3px;
    /* margin-left: 20px; */
}
.card-date{
    font-size: 15px;
}
.card-body a{
    display: flex;
    justify-content: center;
    background-color: white;
    color: blue;
    border: none;
    transition: all 0.5s;
}





/* -----Hover---- */
.titulosCategoria:hover{
    background-color: blue;
    color: white;
    border-radius: 10px;
}
.card:hover{
    box-shadow: 0px 0px 15px rgb(100, 100, 100);
}
