/* ------------------MAIN----------------- */
body {
  background-color: #242c35 !important;
}
.countainerSlider {
  margin: 0 auto;
}
.tituloSuperior {
  text-align: center;
  margin-top: 7px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: gold;
  background-color: #242c35;
  border-top: solid 2px rgb(19, 19, 19);
  border-bottom: solid 2px rgb(19, 19, 19);
  transition: all 500ms;
}
.tituloInferior {
  text-align: center;
  margin-top: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: gold;
  background-color: #242c35;
  border-top: solid 2px rgb(19, 19, 19);
  border-bottom: solid 2px rgb(19, 19, 19);
  transition: all 500ms;
}

.contenedorCajas {
  display: flex;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 15px;
  background-color: #1c2631;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: auto;
}
.tarjetaCategoriaHome {
  padding: 0.5rem;
  margin: 10px;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 10px;
  border: solid 1px orange;
  scroll-snap-align: center;
  min-width: 280px !important;
  transition: all 0.5s;
  max-width: 310px;
  height: 30vh;
}
.botonCajaCateg {
  margin: auto;
  border-radius: 15px;
  border: solid 1px orange;
  background-color: #1c2631;
  color: orange;
  width: 100px;
  height: 60px;
  transition: 450ms;
}
.descripcionCateg {
  margin: auto;
  width: 95%;
}
.descripcionCateg img {
  margin-top: 10px;
  width: 100%;
  height: 121px;
  border-radius: 10px;
  transition: 1s;
}
.descripcionCateg p {
  color: #1c2631;
  margin-bottom: 0;
  transition: all 1s;
}

.tarjetaCategoriaHome a {
  background-color: #1c2631;
  text-decoration: none;
}
  /* ------------Before--------- */
  footer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 15%;
    background:linear-gradient(
      45deg, gold,blue,gold,blue,gold,blue,gold
      );
    background-size: 800%;
    border-radius:10px ;
    filter:blur(8px) ;
    animation: glowing 80s linear infinite;
  }
  @keyframes glowing{
    0%{
      background-position: 0 0;
    }
    50%{
      background-position: 250% 0;
    }
  }
  header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height:7%;
    background:linear-gradient(
      45deg, gold,blue,gold,blue,gold,blue,gold
      );
    background-size: 800%;
    border-radius:10px ;
    filter:blur(8px) ;
    animation: glowing 80s linear infinite;
  }
  @keyframes glowing{
    0%{
      background-position: 0 0;
    }
    50%{
      background-position: 250% 0;
    }
  }
/* ------Hover------ */
.tituloSuperior:hover {
  box-shadow: 0px 0px 15px rgb(100, 100, 100);
  border-top: solid 2px rgb(100, 100, 100);
  border-bottom: solid 2px rgb(100, 100, 100);
}
.tituloInferior:hover {
  box-shadow: 0px 0px 15px rgb(100, 100, 100);
  border-top: solid 2px rgb(100, 100, 100);
  border-bottom: solid 2px rgb(100, 100, 100);
}

.tarjetaCategoriaHome:hover .botonCajaCateg {
  color: gold;
  border: solid 1px gold;
  box-shadow: 0px 0px 15px rgb(100, 100, 100);
}

.tarjetaCategoriaHome:hover {
  box-shadow: 0px 0px 15px rgb(100, 100, 100);
}
.tarjetaCategoriaHome:hover img {
  height: 0;
}
.tarjetaCategoriaHome a:hover {
  color: blue;
}
.tarjetaCategoriaHome:hover .descripcionCateg p {
  font-size: 20px;
  color: gold;
  text-align: center;
}
/* ------Hover fin------ */
@media (min-width: 1505px) {
  .contenedorCajas {
    justify-content: space-around;
  }
}
@media (max-width: 500px) {
  .contenedorCajas {
    height: 300px;
  }

  .tarjetaCategoria img {
    height: 15vh;
    margin-top: 15px;
  }
}
@media (max-width: 1200px){
  header::before{
    height: 14%;
  }
}
@media (max-width: 700px){
  header::before{
    height: 18%;
  }
}