/* ------------------MAIN----------------- */
.tituloInferior{
    text-align: center;
    color: rgb(21, 21, 252);
}
.contenedorCajas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    padding-bottom: 10px;
}

.botonCaja{
    border-radius: 5px;
    color: blue;
    width: 50%;
}