.mainLogin{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #242c35;
    height: 86.6%;
    margin: auto;
}
.correcionCajasForm{
    width: 100%;
}
.correcionCajasForm input{
    width: 40%;
}
.form-boxLogin{
    width: 70%;
    padding: 10px;
    height: 85vh;
    background: #191919;
    text-align: center;
    border-radius: 20px;
}

.form-title{
    color: #ffffff;
    font-weight: 500;
}

.form-boxLogin input[type="text"],
.form-boxLogin input[type="email"],
.form-boxLogin input[type="password"],
.form-boxLogin button[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    border: 2px solid rgb(173, 173, 0);
    text-align: center;
    border-radius: 24px;
    width: 70%;
    outline: none;
    color: #ffffff;
    transition: 0.25s;
}

.form-boxLogin input[type="text"]:focus,
.form-boxLogin input[type="password"]:focus{
    width: 50%;
    border-color: #ffffff;
}

.form-boxLogin button[type="submit"]{
    border: 0;
    background: #3742fa;
    cursor: pointer;
}


.form-boxLogin input[type="checkbox"]{
    border: 0;
    display: inline-block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    background: none;
}

.form-boxLogin a{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
}

.form-boxLogin h4{
    border: 0;
    display: inline-block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    background: none;
    color: #ffffff;
}

.logo{
    display: flex;
    margin: auto;
    width: 150px;
    padding: 5px;
}
.recuperar-contraseña{
    color: rgb(224, 230, 173);
}
.cajaSendLogin{
    margin: auto;
    width: 40%;
}
.cajaSendLogin .botonSumit{
    height: 5vh ;
}
.cajaSendLogin a{
    position: relative;
    top: -35px
}