.mainPerfil{
    margin: auto;
    margin-top: 40px;
    background-color: #1f2730;
    border-radius: 20px;
    width: 90%;
    height: 90vh;
    border: 0.5px solid gold;
}
.contenedorInfo{
    display: flex;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 50px;
}
.infoNombre{
    margin: auto;
    padding-right: 30px;
}
.nombrePerfil{
    margin-top: 20px;
    text-align: center;
    color: gold;
}
.usuarioPerfil{
    text-align: center;
    color: rgb(233, 233, 0);
}
.correcionPerfil{
    margin-top: 40px;
}
.textPerfil{
    text-align: center;
    color: white;
}
.imgPerfil{
    margin: auto;
}
.imgPerfil img{
    width: 40vw;
    height: 15vh;
    padding: 5px ;
    border-radius: 300px;
    margin: auto;
    border: 0.5px solid gold;
}
.contenedorInfoFooter{
    display: flex;
    margin-top: 5px;
}

.infoBasica{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.infoBasica h3{
    text-align: center;
    color: rgb(233, 233, 0);
}
.infoBasica h5{
    text-align: center;
    color: rgb(173, 173, 0);
}
.textP{
    color: white;
    text-align: center;
    font-size: 16px;
}
.textInfoPerfil{
    color: white;
    text-align: center;
    font-size: 15.5px;
}
@media (min-width: 600px){
    .imgPerfil img{
        height: 23vh;

    }
}
@media (min-width: 915px) {
    .mainPerfil{
        margin: auto;
        margin-top: 40px;
        background-color: #1f2730;
        width: 55%;
        height: 93vh;
    }
    .imgPerfil img{
        width: 400px;
        height: 250px;
        border-radius: 300px;
    }
    
  }
  @media (min-width: 1615px){
    .contenedorInfo{
        justify-content:space-evenly;
    }
    .nombrePerfil{
        font-size: 30px;
    }
    .usuarioPerfil{
        font-size: 27px;
    }
    .imgPerfil{
        width: 250px;
        height: 250px;
        border-radius: 130px;
    }
    .imgPerfil i{
        font-size: 150px;
    }
    .listaPerfil ul li{
       margin-left: 20px;
    }
    .textInfoPerfil{
        width: 50vw;
    }
  }
