.mainPerfil{
    margin: auto;
    margin-top: 40px;
    background-color: #171d24;
    border-radius: 20px;
    width: 90%;
    height: 100%;
    border: 0.5px solid gold;
}
.contenedorInfo{
    display: flex;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 50px;
}
.infoNombre{
    margin: auto;
    padding-right: 30px;
}
.nombrePerfil{
    margin-top: 20px;
    text-align: center;
    color: gold;
}
.usuarioPerfil{
    text-align: center;
    color: rgb(233, 233, 0);
}
.correcionPerfil{
    margin-top: 40px;
}
.textPerfil{
    text-align: center;
    color: white;
}
.imgPerfil{
    margin: auto;
}
.imgPerfil img{
    width: 40vw;
    height: 15vh;
    padding: 5px ;
    border-radius: 300px;
    margin: auto;
    border: 0.5px solid gold;
}
.contenedorInfoFooter{
    display: flex;
    margin-top: 5px;
}

.infoBasica{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.infoBasica h3{
    text-align: center;
    color: rgb(233, 233, 0);
}
.infoBasica h5{
    text-align: center;
    color: rgb(173, 173, 0);
}
.textP{
    color: white;
    text-align: center;
    font-size: 16px;
}
#textP{
    color: white;
    text-align: center;
    font-size: 16px;
}
.textInfoPerfil{
    color: white;
    text-align: center;
    font-size: 15.5px;
}
@media (min-width: 600px){
    .imgPerfil img{
        height: 23vh;

    }
}
@media (min-width: 995px) {
    .mainPerfil{
        margin: auto;
        margin-top: 30px;
        width: 55%;
        height: 100%;
    }
    .imgPerfil img{
        width: 400px;
        height: 250px;
        border-radius: 300px;
    }
    
  }
  @media (min-width: 1615px){
    .contenedorInfo{
        justify-content:space-evenly;
    }
    .nombrePerfil{
        font-size: 30px;
    }
    .usuarioPerfil{
        font-size: 27px;
    }
    .imgPerfil{
        width: 250px;
        height: 250px;
        border-radius: 130px;
    }
    .imgPerfil i{
        font-size: 150px;
    }
    .listaPerfil ul li{
       margin-left: 20px;
    }
    .textInfoPerfil{
        width: 50vw;
    }
  }

  /* .imgPerfil::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(50deg, darkblue, gold, darkblue, darkblue, gold, darkblue, darkblue);
    background-size: 600%;
    border-radius: 9px;
    filter: blur(8px);
    animation: glowing 50s linear infinite;
  }
  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 250% 0;
    }
  } */