.mainRegister{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #242c35;
    height: 86.6%;
    margin: auto;
}
.correcionCajasForm{
    width: 100%;
}
.correcionCajasForm input{
    width: 70%;
}
.tituloRegisterCaja{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    color: white;
}
.checkBoxs{
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}
.form-box{
    width: 75%;
    padding: 10px;
    height: 100%;
    background: #191919;
    text-align: center;
    border-radius: 20px;
}

.form-title{
    color: #ffffff;
    font-weight: 500;
}
.cajaRegisterInput{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    border: 2px solid rgb(173, 173, 0);
    text-align: center;
    border-radius: 24px;
    outline: none;
    color: #ffffff;
    transition: 0.25s;
}

.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus,
.form-box input[type="email"]:focus{
    width: 50%;
    border-color: #ffffff;
}

.logo{
    display: flex;
    margin: auto;
    width: 150px;
    padding: 5px;
}
/* ---Correcion--- */
.form-box button[type="submit"]{
    width: 40%;
    border: 0;
    background: #3742fa;
    cursor: pointer;
    border-radius: 24px;
    height: 30px;
    margin-top: 15px;
}
.botonSumit a{
    text-decoration: none;
    color: white;
}

.cajaSendRegister{
    margin: auto;
    width: 40%;
}
.errorInput{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    border: 2px solid #D6000B ;
    text-align: center;
    border-radius: 24px;
    width: 70%;
    outline: none;
    color: #ffffff;
    transition: 0.25s;
}
.errorInputOptions{
    text-align: center;
    width: 50%;
    border-radius: 7px;
    background: #191919;
    border: 2px solid #D6000B; 
    height: 50px;
    color: gray;
}
.errorInputText{
    width: 50%;
    text-align: center;
    color: white;
    border: 2px solid #D6000B; 
    background: #191919;
    border-radius: 5px;
    margin-top: 15px;
}
.errorTxt{
   color: #D6000B; 
}
  /* #D6000B */