* {
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
  }
  p {
    font-size: 12px;
  }
  /* ---------------------Header----------------- */
  header{
    background-color: #1c2631;
  }
  header a{
    text-decoration: none;
    color: white;
    background-color: #242c35;
  }
  
  .ButtonBox button{
    border: solid 1px gold;
    background-color: #242c35;
    border-radius: 5px;
    color: white;
    transition: 450ms;
  }
  .ButtonBox button i{
    color: white;
    background-color: #242c35;
    transition: 450ms;
  } 
  .correccionPos i{
    position: relative;
    left: -2px;
    top: 1px;
    transition: 450ms;
  }
  .dropdown-menu{
    width: 20vh;
    list-style: disc outside !important;
    background-color: #2c3238 !important;
    color: white !important;
  }
  .dropdown-menu a{
    color: white;
  }
 
  .responsiveNav{
    display: flex;
    width: 100%;
  }
  .correcionNav{
    display: flex;
    flex-direction: row;
    width: 80vw;
  }
  header button{
    display: flex;
    flex-direction: row;
    height: 30px;
}
  header i{
    margin-top:3px;
    margin-left:3px;
}
  #logotipo2{
    display: none;
  }
  #logotipo{
    display: flex;
    margin: auto;
    width: 200px;
    background-color: #1c2631;
  }
  .ButtonBox{
    display: flex;
    margin: auto;
    list-style: none;
  }
  .ButtonBox li{
    margin: 0 3vw ;
  }
 
  .searchBar{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 15px 0 10px 0;
  }
  .searchBar i{
    position: relative;
    right: 2px;
    top: 2px;
  }
  .searchBarMin{
    display: none;
    } 
  .searchBar button{
    border: 1px solid gold;
    color: white;
    background-color: #1c2631;
    border-radius: 4px;
    transition: 450ms;

  }
  .search{
    border: 1px solid gold;
    text-align: center;
    font-size: 15px;
    border-radius: 4px;
    background-color: #1c2631;
    color: white;
  }
  .ajusteBusqueda{
    display: flex;
    /* flex-wrap: wrap; */
    padding: 15px;
    width: 50%;
    margin: auto;
  }
  .completadoEspacio{
    height: 70vh;
  }
  .notFound{
    margin-top: 6%;
    color: gold;
    text-align: center;
  }
  .imgRick{
    display: flex;
    justify-content: center;
  }
  .rickClass{
    border-radius: 20px;
    width: 40vw;
  }
  /* --------------------footer---------------- */
  footer{
    background-color: #1c2631;
    width: 100%;
    position: relative;
    top: 40px;
  }
  #footerBox{
    display: block;
  }
  #iconsFooter{
    display: flex;
    color: white;
    justify-content: space-around;
    font-size: 30px;
    padding: 5px 30% 0 30%;
  }
  #iconsFooter i{
    margin-left: 4px;
    margin-right:4px ;
  }
  #helpList{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    padding: 5px 15% 0 15%; 
    margin-bottom:0 !important;
  }
  .itemFooter{
    padding: 2px;
  }
  .userInLogin{
    margin: auto;
    text-align: center;
    color: gold;
    border-top: 1px solid gold;
    border-bottom: 1px solid gold;
  }

 /* ----------Hover---------- */
 .header button:hover a{
  color:gold;
}
.ButtonBox button:hover a{
  color:gold;
}
.ButtonBox Button:hover {
  color:gold;
  border: solid 1px gold;
  box-shadow: 0px 0px 15px rgb(100, 100, 100);
}
.ButtonBox button:hover  i{
  color:gold;
}
.dropdown-menu a:hover{
  background-color: #2c3238 !important;
  color:gold !important;
}
.searchBar button:hover{
  color:gold;
}
.searchBarMin button:hover{
  color:gold;
}
#logotipo:hover{
  box-shadow: 0px 0px 15px rgb(100, 100, 100);
}
#logotipo2:hover{
  box-shadow: 0px 0px 15px rgb(100, 100, 100);
}
/* ----------Hover Fin------ */
  @media (min-width: 1200px){
    
    .search{
      width: 30vw;
    }
  }
  @media (max-width: 1200px) {
    .correcionNav{
      flex-wrap: wrap;
    }
    .searchBar{
      display: none;
    }
    .searchBarMin{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 15px 0 10px 0;
    } 
    .searchBarMin i{
      position: relative;
      right: 1px;
      top: 1px;
    }
    .searchBarMin button{
      border: 1px solid gold;
      color: white;
      background-color: #1c2631;
      border-radius: 4px;
      transition: 450ms;
    }
    .search{
      width: 70vw;
  
    }
   
    .ButtonBox{
      padding: 0;
    }
  }
  @media (max-width: 995px){
    .ajusteBusqueda{
      width: 65%;
    }
    .responsiveNav{
      justify-content: none;
    }
    .correcionNav{
      justify-content: space-around;
    }
  }
  @media (max-width: 696px) {
    .correcionNav{
      margin: auto;
    }
    .botonBarMin{
      margin: 0;
    }
    header button{
      margin-top: 8px;
    }
    .responsiveNav{
      margin: auto;
    }
    #logotipo{
      display: none;
    }
    #logotipo2{
      display: flex;
      margin: auto;
      width: 200px;
  }
  
}
@media (max-width: 580px){

  .dropdown-menu{
    list-style: none !important;

  }
  .rickClass{
    border-radius: 20px;
    width: 70vw;
  }
}
@media (max-width: 415px){

  .ajusteBusqueda{
    width: 80%;
  }
}