* {
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
  }
  html::-webkit-scrollbar {
    background: #1e2731;
  }
  html::-webkit-scrollbar-thumb {
    background: rgb(94, 94, 94);
  }
  p {
    font-size: 12px;
  }
  /* ---------------------Header----------------- */
  header{
    background-color: #1c2631;
  }
  header a{
    text-decoration: none;
    color: white;
    background-color: #242c35;
  }
  
  .ButtonBox button{
    border: solid 1px gold;
    background-color: #242c35;
    border-radius: 5px;
    color: white;
    transition: 450ms;
  }
  .ButtonBox button i{
    color: white;
    background-color: #242c35;
    transition: 450ms;
  } 
  .correccionPos i{
    position: relative;
    left: -2px;
    top: 1px;
    transition: 450ms;
  }
  .dropdown-menu{
    width: 20vh;
    list-style: disc outside !important;
    background-color: #2c3238 !important;
    color: white !important;
  }
  .dropdown-menu a{
    color: white;
  }
 
  .responsiveNav{
    display: flex;
    width: 100%;
  }
  .correcionNav{
    display: flex;
    flex-direction: row;
    width: 80vw;
  }
  header button{
    display: flex;
    flex-direction: row;
    height: 30px;
}
  header i{
    margin-top:3px;
    margin-left:3px;
}
  #logotipo2{
    display: none;
  }
  #logotipo{
    display: flex;
    margin: auto;
    width: 200px;
    background-color: #1c2631;
  }
  .ButtonBox{
    display: flex;
    margin: auto;
    list-style: none;
  }
  .ButtonBox li{
    margin: 0 3vw ;
  }
 
  .searchBar{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 15px 0 10px 0;
  }
  .searchBar i{
    position: relative;
    right: 2px;
    top: 2px;
  }
  .searchBarMin{
    display: none;
    } 
  .searchBar button{
    border: 1px solid gold;
    color: white;
    background-color: #1c2631;
    border-radius: 4px;
    transition: 450ms;

  }
  .search{
    border: 1px solid gold;
    text-align: center;
    font-size: 15px;
    border-radius: 4px;
    background-color: #1c2631;
    color: white;
  }

  .contenedorBusquedas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15vh;
  }
  .ajusteBusqueda{
    display: flex;
    padding: 15px;
  }
  .contenedorTituloBusqueda{
    color: gold;
    text-align: center;
    font-size: 30px;
    margin-top: 1%;
  }
  .cardBusqueda {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 0.375rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}
  .cardBusqueda {
    padding: 0.5rem;
    margin: 10px;
    font-size: 1.2rem;
    text-align: center;
    border: solid 1px black !important;
    background-color: #242c35 !important;
    scroll-snap-align: center;
    min-width: 300px !important;
    transition: all 0.5s;
    width: 35vw;
  }
  .completadoEspacio{
    height: 80vh;
  }
  .notFound{
    margin-top: 6%;
    color: gold;
    text-align: center;
  }
  .imgRick{
    display: flex;
    justify-content: center;
  }
  .rickClass{
    border-radius: 20px;
    width: 40vw;
  }
 
  /* ------------Before--------- */

.cardBusqueda::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(50deg, darkblue, gold, darkblue, darkblue, gold, darkblue, darkblue);
  background-size: 600%;
  border-radius: 9px;
  filter: blur(8px);
  animation: glowing 50s linear infinite;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 250% 0;
  }
}
  /* ------------Hover--------- */

.cardBusqueda:hover {
  border: solid 1px rgba(255, 217, 0, 0.7) !important ;
}
.cardBusqueda:hover .card-body .btn-primary {
  background-color: #1e2731;
  border: solid 1px gold;
  color: gold;
}
.cardBusqueda:hover .card-body .SponsorHREF a {
  background-color: #1e2731;
  color: gold;
}
.cardBusqueda:hover .card-body {
  background-color: #1e2731;
}
  /* --------------------footer---------------- */
  footer{
    background-color: #1c2631;
    width: 100%;
    position: relative;
    top: 40px;
  }
  #footerBox{
    display: block;
  }
  #iconsFooter{
    display: flex;
    color: white;
    justify-content: space-around;
    font-size: 30px;
    padding: 5px 30% 0 30%;
  }
  #iconsFooter i{
    margin-left: 4px;
    margin-right:4px ;
  }
  #helpList{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    text-decoration: none;
    padding: 5px 15% 0 15%; 
    margin-bottom:0 !important;
  }
  #helpList a{
    color: white;
    text-decoration: none;
  }
  .itemFooter{
    padding: 2px;
  }
  .userInLogin{
    margin: auto;
    text-align: center;
    color: gold;
    border-top: 1px solid gold;
    border-bottom: 1px solid gold;
  }

 /* ----------Hover---------- */
 .header button:hover a{
  color:gold;
}
.ButtonBox button:hover a{
  color:gold;
}
.ButtonBox Button:hover {
  color:gold;
  border: solid 1px gold;
  box-shadow: 0px 0px 15px rgb(100, 100, 100);
}
.ButtonBox button:hover  i{
  color:gold;
}
.dropdown-menu a:hover{
  background-color: #2c3238 !important;
  color:gold !important;
}
.searchBar button:hover{
  color:gold;
}
.searchBarMin button:hover{
  color:gold;
}
#logotipo:hover{
  box-shadow: 0px 0px 15px rgb(100, 100, 100);
}
#logotipo2:hover{
  box-shadow: 0px 0px 15px rgb(100, 100, 100);
}
/* ----------Hover Fin------ */
  @media (min-width: 1200px){
    
    .search{
      width: 30vw;
    }
  }
  @media (max-width: 1200px) {
    .correcionNav{
      flex-wrap: wrap;
    }
    .searchBar{
      display: none;
    }
    .searchBarMin{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 15px 0 10px 0;
    } 
    .searchBarMin i{
      position: relative;
      right: 1px;
      top: 1px;
    }
    .searchBarMin button{
      border: 1px solid gold;
      color: white;
      background-color: #1c2631;
      border-radius: 4px;
      transition: 450ms;
    }
    .search{
      width: 70vw;
  
    }
   
    .ButtonBox{
      padding: 0;
    }
  }
  @media (max-width: 995px){
    
    .responsiveNav{
      justify-content: none;
    }
    .correcionNav{
      justify-content: space-around;
    }
  }
  @media (max-width: 696px) {
    .correcionNav{
      margin: auto;
    }
    .botonBarMin{
      margin: 0;
    }
    header button{
      margin-top: 8px;
    }
    .responsiveNav{
      margin: auto;
    }
    #logotipo{
      display: none;
    }
    #logotipo2{
      display: flex;
      margin: auto;
      width: 200px;
  }
  
}
@media (max-width: 580px){

  .dropdown-menu{
    list-style: none !important;

  }
  .rickClass{
    border-radius: 20px;
    width: 70vw;
  }
}
@media (max-width: 415px){

  .ajusteBusqueda{
    width: 80%;
  }
}