* {
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
  }
  p {
    font-size: 12px;
  }
  /* ------Global------ */
  
  header{
    height: 10vh;
    padding: 5px;
  }
  main{
    margin-top:5% ;
    height: 80vh;
    max-height: 75%;
  }
  footer{
    height: 12vh;
  }
  /* ---------------------Header----------------- */
  .responsiveNav{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  #logotipo{
    display: flex;
    margin: auto;
    width: 35vw;
  }
  .ButtonBox{
    display: flex;
    margin: auto;
    list-style: none;
  }
  .ButtonBox li{
    margin: 0 3vw ;
  }
  .searchBar{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 15px 0 0 0;
  }
  .searchBar button{
    border: 1px solid rgb(39, 39, 39);
    border-radius: 4px;
  }
  .search{
    border: 1px solid rgb(39, 39, 39);
    text-align: center;
    font-size: 15px;
    border-radius: 4px;
    width: 80vw;
  }
  /* --------------------footer---------------- */
  footer{
    background-color: rgba(0, 0, 0, 0.795)
  }
  #footerBox{
    display: block;
  }
  #iconsFooter{
    display: flex;
    color: white;
    justify-content: space-around;
    font-size: 30px;
    padding: 5px 30% 0 30%;
  }
  #helpList{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    padding: 5px 15% 0 15%; 
    margin-bottom:0 !important;
  }
  .itemFooter{
    padding: 2px;
  }
  @media (min-width: 769px) {
    #logotipo{
      width: 15vw;
    }
  } 
