<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
    <main class="">
        <form class="formularioAdmin" action="" class="form-box">
            <h1 class="form-title">Creacion De Evento</h1>
            <div class="cajaAdmin">
                <label for="Nuevo-Nombre"></label>
                <input required type="text"  name="nombre" id="nombreEvento" placeholder="Evento">
            </div>
            <div class="cajaAdmin">
                <label for="Descripcion-Evento">Descripcion de Evento</label>
                <textarea></textarea>
            </div>
            <div class="cajaAdmin">
                <label for="ImgEvento">
                    <div class="label">Seleccione Foto de Evento</div>
                    <div class="foto"><input type="file" name="fotoEvento" accept=".jpg"></div>
                </label>
            </div>
            <div class="cajaAdmin"> 
                <label for="Dia"></label>
                <input required type="date" name="Dia" >
            </div>
            <div class="cajaAdmin"> 
                <label for="Dato-Importante"></label>
                <input required type="text" name="dato" placeholder="Dato Importante">
            </div>
            <div class="cajaAdmin"> 
                <label for="Precio"></label>
                <input required type="number" name="price" placeholder="Inserte Un Precio $$$">
            </div>
            <div class="cajaAdmin">
                <button type="submit"><a href="/">Enviar</a></button>
            </div>
            <div>
                <button type="reset"><p>Borrar</p></button>
            </div>
        </form>
    </main>
    <%- include('./partials/footer') %>
     <!-- ----------SideBar----- -->
    <%- include('./partials/carrito') %>
</body>
</html>