<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
    <main class="">
        <form action="" class="form-box">
            <h1 class="form-title">Creacion De Evento</h1>
            <div class="">
                <label for="Nuevo-Nombre"></label>
                <input required type="text"  name="nombre" id="nombreEvento" placeholder="Evento">
            </div>
            <div class="">
                <label for="Descripcion-Evento">Descripcion de Evento</label>
                <textarea></textarea>
            </div>
            <div class="">
                <label for="Imagen-Evento"></label>
                <input required type="image"  name="image" id="image" >
            </div>
            <div class=""> 
                <label for="Dia"></label>
                <input required type="date" name="Dia" >
            </div>
            <div class=""> 
                <label for="Dato-Importante"></label>
                <input required type="text" name="dato" >
            </div>
            <div class=""> 
                <label for="Precio"></label>
                <input required type="number" name="price" >
            </div>
            <div class="">
                <button type="submit"><a href="/">Enviar</a></button>
            </div>
            <div>
                <button  type="reset"><p>Borrar</p></button>
            </div>
        </form>
    </main>
    <%- include('./partials/footer') %>
     <!-- ----------SideBar----- -->
    <%- include('./partials/carrito') %>
</body>
</html>