<div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasExample"
      aria-labelledby="offcanvasExampleLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Lista de productos</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <div class="listaTitulo"></div>
        <div class="cajaProductos">
            <h4 id="segundoTitulos">Productos</h4>
            <div class="producPrueba"><h5>Prueba de Producto $$$$$ Dia:Tal</h5></div>
            <div class="producPrueba"><h5>Prueba de Producto $$$$$ Dia:Tal</h5></div>
            <div class="producPrueba"><h5>Prueba de Producto $$$$$ Dia:Tal</h5></div>
            <button class="botonAdd"><a href="/Catalogo"><i class="fa-solid fa-plus"></i></a></button>
        </div>
        <div class="botonCompra">
            <button ><a href="/">Comprar</a></button>
        </div>
      </div>
</div>