<footer>
    <div id="footerBox">
      <div id="iconsFooter">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fa-brands fa-tiktok"></i></a>
      </div>
      <ul id="helpList">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><li class="itemFooter">FAQ</li></a>
        <li class="itemFooter">|</li>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><li class="itemFooter">Sobre</li></a>
        <li class="itemFooter">|</li>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> <li class="itemFooter">Contacto</li></a>
        <li class="itemFooter">|</li>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> <li class="itemFooter">Artistas</li></a>
        <li class="itemFooter">|</li>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> <li class="itemFooter">Terminos y Condiciones</li></a>
        <li class="itemFooter">|</li>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><li class="itemFooter">Politicas</li></a>
      </ul>
    </div>
  </footer>