<header>
    <!-- comienza nav -->
    <a href="/"
    ><img id="logotipo2" src="/images/Ticket_House_var1.svg" alt="logo"
    /></a>
    <section class="responsiveNav">
      <a href="/"
        ><img id="logotipo" src="/images/Ticket_House_var1.svg" alt="logo"
        /></a>
        <div class="correcionNav">
        <ul class="ButtonBox">
          <li>
            <div class="dropdown">
              <button  type="button" data-bs-toggle="dropdown" aria-expanded="false">Paginas<i class="fa-solid fa-caret-down"></i></button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/">Home</a></li>
                <li><a class="dropdown-item" href="/producto/catalogo">Catalogo</a></li>
              </ul>
          </div>
          </li>
          <li>
            <div class="dropdown">
              <button  type="button" data-bs-toggle="dropdown" aria-expanded="false">Ayuda<i class="fa-solid fa-info"></i></button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/producto/ayuda">Preguntas</a></li>
                <li><a class="dropdown-item" href="/usuario/terminosYCondiciones">Terminos</a></li>
              </ul>
          </div>
          </li>
        </ul>
        <form action="/producto/busqueda" method="POST">
          <div class="searchBar">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input class="search" type="text" name="busqueda" placeholder="Buscar tus Artistas" />
          </div>
        </form>
        <ul class="ButtonBox">
          <li>
            <div class="dropdown">
              <% if(locals.userLogin) {%>
                 <button  type="button" data-bs-toggle="dropdown" aria-expanded="false"><%= locals.logged.nombre_usuario  %><i class="fa-solid fa-user"></i></button>
                <% }else{ %> 
                 <button  type="button" data-bs-toggle="dropdown" aria-expanded="false">Usuario<i class="fa-solid fa-user"></i></button>
              <% } %> 
              <ul class="dropdown-menu">
                <% if(locals.userLogin) {%> 
                  <li><a class="dropdown-item" href="/usuario/perfil">Tu Perfil</a></li>
                  <li><a class="dropdown-item" href="/usuario/perfil/edicion">Editar Perfil</a></li>
                  <li><a class="dropdown-item" href="/usuario/cerrarSesion">Cerrar Sesión</a></li>
                <% }else{ %> 
                  <li><a class="dropdown-item" href="/usuario/register">Crea Tu Cuenta</a></li>
                  <li><a class="dropdown-item" href="/usuario/login">Iniciar Sesión</a></li>
                <% } %> 
              </ul>
          </div>
          </li>
          <li>
            <a href="/producto/carrito"><button class="correccionPos"> <i class="fa-solid fa-cart-shopping"></i></button></a>
          </li>
        </ul>
      </div>
    </section>
    <form action="/producto/busqueda" method="POST">
      <div class="searchBarMin">
        <button class="botonBarMin" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        <input class="search" type="text" name="busqueda" placeholder="Buscar tus Artistas" />
      </div>
    </form>
    <!-- termina el nav -->
  </header>