<header>
    <!-- comienza nav -->
    <a href="/"
    ><img id="logotipo2" src="/imagenes/Ticket_House_var1.svg" alt="logo"
    /></a>
    <section class="responsiveNav">
      <a href="/"
        ><img id="logotipo" src="/imagenes/Ticket_House_var1.svg" alt="logo"
        /></a>
        <div class="correcionNav">
        <ul class="ButtonBox">
          <li>
            <!-- <button> Paginas<i class="fa-solid fa-caret-down"></i></button> -->
            <div class="dropdown">
              <button  type="button" data-bs-toggle="dropdown" aria-expanded="false">Paginas<i class="fa-solid fa-caret-down"></i></button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/">Home</a></li>
                <li><a class="dropdown-item" href="/producto/catalogo">Catalogo</a></li>
              </ul>
          </div>
          </li>
          <li><button> Ayuda<i class="fa-solid fa-info"></i></i></i></button></li>
        </ul>
        <form action="" method="POST">
          <div class="searchBar">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
            <input class="search" type="text" placeholder="Buscar tus Artistas" />
          </div>
        </form>
        <ul class="ButtonBox">
          <li>
            <!-- <button><a href="/usuario/login">Perfil</a><i class="fa-solid fa-user"></i></button> -->
            <div class="dropdown">
              <button  type="button" data-bs-toggle="dropdown" aria-expanded="false">Perfil<i class="fa-solid fa-user"></i></button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Tu Perfil</a></li>
                <li><a class="dropdown-item" href="/usuario/register">Crea Tu Cuenta</a></li>
                <li><a class="dropdown-item" href="/usuario/login">Iniciar Sesión</a></li>
              </ul>
          </div>
          </li>
          <li>
            <a href="/producto/carrito"><button class="correccionPos"> <i class="fa-solid fa-cart-shopping"></i></button></a>
          </li>
        </ul>
      </div>
    </section>
    <form action="" method="POST">
      <div class="searchBarMin">
        <button class="botonBarMin"><i class="fa-solid fa-magnifying-glass"></i></button>
        <input class="search" type="text" placeholder="Buscar tus Artistas" />
      </div>
    </form>
    <!-- termina el nav -->
  </header>