<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="mainLogin">
        <form action="" class="form-boxLogin">
            <h1 class="form-title">Ingresar</h1>
            <div class="correcionCajasForm">
                <label for="nombre"></label> 
                <input required type="text"  name="nombre" id="nombreCompleto" placeholder="Nombre de Usuario">
                <samp class="feedback"></samp>
            </div>
            <div class="correcionCajasForm">    
                <label for="contrasenia"></label>
                <input required type="password" name="contrasenia" placeholder="Contrase単a">
                <samp class="feedback"></samp>
            </div>
            <div>
                <input type="checkbox" placeholder="Remember Me">
                <h4>Remember Me</h4>
            </div>
            <div>
                <a href="#" class="recuperar-contrase単a">多Olvidaste tu Contrase単a?</a>
            </div>
            <div class="cajaSendLogin">
                <button class="botonSumit" type="submit"><a href="/">Enviar</a></button>
            </div>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>