<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main class="mainPerfil">
      <div class="contenedorInfo">
        <div class="imgPerfil">
          <i class="fa-solid fa-user"></i>
        </div>
        <div>
          <h3 class="nombrePerfil">Usuario visitante</h3>
          <h5 class="usuarioPerfil">@visitante</h5>
          <div class="correcionPerfil">
            <h6 class="textPerfil">Estado Actual:</h6>
            <h6 class="textPerfil">Sin eventos a asistir</h6>
          </div>
        </div>
      </div>
      <div class="contenedorInfoFooter">
        <div class="listaPerfil">
          <ul>
            <li>Actividades</li>
            <li>Opiniones</li>
            <li>Grupos</li>
            <li>Foros</li>
            <li>Imagenes</li>
          </ul>
        </div>
        <div class="infoBasica">
          <h3>informacion basica</h3>
          <h5>Nombre:</h5>
          <p class="textP"> Usuario visitante</p>
          <h5>Gustos:</h5>
          <p class="textP">Pop y Rock</p>
          <div>
            <h3>informacion Personal</h3>
            <h5>Pais:</h5>
            <p class="textP"> Argentina</p>
            <h5>Genero:</h5>
            <p class="textP"> Masculino</p>
            <h5>Sobre mi:</h5>
            <p class="textP">
               Lorem ipsum dolor sit amet consectetur, adipisicing
              elit. Vitae ab consectetur velit, excepturi ratione libero sint
              distinctio, dolorem accusantium et consequatur. Architecto a ut
              quisquam dicta sint quibusdam autem perspiciatis!
            </p>
          </div>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
