<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main class="ayudaMain">
      <div>
        <h2 class="tituloAyuda">
          Términos y Condiciones – TICKET HOUSE Argentina
        </h2>
        <h3 class="preguntasAyuda">
          Términos y Condiciones para Eventos presenciales en vivo
        </h3>
        <h5 class="respuestasAyuda">
          Al comprar tus localidades a través de TICKET HOUSE S.A.” (en adelante
          “TICKET HOUSE”), por favor asegúrate de conocer las siguientes
          políticas:
        </h5>
        <h5 class="respuestasAyuda">
          Las entradas son vendidas por TICKET HOUSE S.A. (en adelante TICKET
          HOUSE), con domicilio en Solís 206 4°11 P.B. de Capital Federal, CUIT
          Nº 30-71538685-9 como agente, actuando por cuenta y orden del Promotor
          / Productor / Teatro / Estadio (en adelante el ORGANIZADOR) del evento
          deportivo y/o espectáculo.
        </h5>
        <h5 class="respuestasAyuda">
          TICKET HOUSE se reserva el derecho a realizar modificaciones en los
          Términos y Condiciones en cualquier momento, por ejemplo para tratar
          cambios de la ley o normativa o cambios en las funcionalidades
          ofrecidas a través del servicio. Por tal motivo, deberás revisar los
          Términos y Condiciones regularmente para comprobar dichas
          modificaciones. La versión modificada de los Términos y Condiciones
          (los “Términos y Condiciones Modificados”) será publicada en
          <a href="/">www.tiketHouse.com.ar</a>. Si no estás de acuerdo con los
          Términos y Condiciones modificados, deberás dejar de utilizar el
          servicio. El uso continuado del Servicio después de que los “Términos
          y Condiciones Modificados” hayan sido publicados constituirá tu
          aceptación de los mismos.
        </h5>
        <h5 class="respuestasAyuda">
          TICKET HOUSE brinda el servicio de venta de tickets para espectáculos
          y permite, a través de su página web, que sus clientes puedan adquirir
          localidades
        </h5>
        <h5 class="respuestasAyuda">
          El ORGANIZADOR es el único y directo responsable del evento o
          espectáculo a realizarse, siendo éste quien impone las condiciones de
          venta de las entradas.
        </h5>
        <h5 class="respuestasAyuda">
          Las entradas son vendidas por TICKET HOUSE como agente o en nombre del
          “ORGANIZADOR”. TICKET HOUSE no es responsable por la organización del
          espectáculo, ni de las condiciones de venta de las entradas de cada
          uno de los eventos.
        </h5>
        <h5 class="respuestasAyuda">
          Las entradas adquiridas a través del sistema de venta TICKET HOUSE
          tanto en los puntos de venta habilitados, y ventas online, están
          sujetos a un costo adicional de cargo por servicio de venta por cada
          entrada adquirida y un costo único de distribución por orden.
        </h5>
        <h5 class="respuestasAyuda">
          Los datos solicitados para realizar la compra de localidades son
          absolutamente confidenciales y forman parte de la base de datos. Nos
          darán la posibilidad de estar en contacto permanente con vos en caso
          de que sea necesario. Para poder tener acceso a TICKET HOUSE deberás
          tener habilitado el modo gráfico y aceptar cookies en tu browser o
          navegador. Si estas configuraciones se encuentran deshabilitadas por
          favor habilitalos y cargá nuevamente la página.
        </h5>
        <h3 class="preguntasAyuda">
          Declaración de derechos y responsabilidades
        </h3>
        <h5 class="respuestasAyuda">
          Esta Declaración de derechos y responsabilidades ("Declaración",
          "Condiciones" o "DDR") tiene su origen en los Principios de TICKET
          HOUSE y contiene las condiciones de servicio que rigen nuestra
          relación con los usuarios y con todos aquellos que interactúan con
          TICKET HOUSE. Al usar o al acceder a TICKET HOUSE, mostrás tu
          conformidad con esta Declaración, que se actualiza periódicamente.
        </h5>
        <h5 class="respuestasAyuda">
          No podrás utilizar los Servicios ni aceptar los Términos y Condiciones
          si (a) no estás legalmente capacitado para celebrar un contrato
          vinculante con TICKET HOUSE, o (b) tienes prohibida o legalmente
          excluida la recepción o utilización de los Servicios, en virtud de la
          legislación de tu país de residencia o desde el que accedes o utilizas
          los Servicios.
        </h5>
        <h3 class="preguntasAyuda">Devoluciones y reintegros</h3>
        <h5 class="respuestasAyuda">
          No se aceptará ningún tipo de cambio, reintegro, cancelación o
          devolución de las localidades adquiridas, excepto en las condiciones
          que el Organizador establezca.
        </h5>
        <h5 class="respuestasAyuda">
          El usuario podrá cancelar su compra hasta 10 días después de haber
          concretado la misma y siempre que ello ocurra por lo menos 72 hs.
          antes del evento para la que fue adquirida. Para ello deberá completar
          el formulario de contacto que encuentra ingresando al “Botón de
          Arrepentimiento” en <a href="/">www.tiketHouse.com.ar</a>. En este
          caso, no será reembolsado el Cargo por Servicio.
        </h5>
        <h5 class="respuestasAyuda">
          El consumidor tiene derecho a revocar la aceptación durante el plazo
          de DIEZ (10) días corridos contados a partir de la fecha en que se
          entregue el bien o se celebre el contrato, lo último que ocurra, sin
          responsabilidad alguna. Esta facultad no puede ser dispensada ni
          renunciada (art. 34 ley 24.240).
        </h5>
        <h5 class="respuestasAyuda">
          Los cargos por servicio que hubieren sido efectivamente prestados por
          TICKET HOUSE no serán en ningún caso devueltos al consumidor, ni aún
          en caso de suspensión, cancelación o reprogramación del evento.
        </h5>
        <h5 class="respuestasAyuda">
          Si por algún motivo, causa o razón la fecha u horario del evento se
          modificara; las localidades adquiridas serán válidas para la fecha
          definitiva que determine el Organizador/Vendedor.
        </h5>
        <h5 class="respuestasAyuda">
          Si el evento se llegase a cancelar, suspender o reprogramar por
          cualquier causa o razón, incluso las que respondan a caso Fortuito o
          de Fuerza Mayor, no existirá derecho alguno a efectuar contra TICKET
          HOUSE, reclamos por devoluciones o reintegros. En este caso el
          ORGANIZADOR tendrá 90 días de la fecha estipulada para la realización
          del evento para efectuar el reintegro del importe de dicha entrada, no
          serán reembolsados los cargos por servicio ni el costo de envío si el
          mismo se hubiese efectuado.
        </h5>
        <h5 class="respuestasAyuda">
          Para que el reintegro se haga efectivo es indispensable la entrega del
          ticket físico (entrada) en los lugares que se habiliten para dicho
          fin, en caso de que el evento cuente con ticket físico.
        </h5>

        <h3 class="preguntasAyuda">Devoluciones y reintegros</h3>
        <h5 class="respuestasAyuda">
          No se aceptará ningún tipo de cambio, reintegro, cancelación o
          devolución de las localidades adquiridas, excepto en las condiciones
          que el Organizador establezca.
        </h5>
        <h5 class="respuestasAyuda">
          El usuario podrá cancelar su compra hasta 10 días después de haber
          concretado la misma y siempre que ello ocurra por lo menos 72 hs.
          antes del evento para la que fue adquirida. Para ello deberá completar
          el formulario de contacto que encuentra ingresando al “Botón de
          Arrepentimiento” en <a href="/">www.tiketHouse.com.ar</a>. En este
          caso, no será reembolsado el Cargo por Servicio.
        </h5>
        <h5 class="respuestasAyuda">
          El consumidor tiene derecho a revocar la aceptación durante el plazo
          de DIEZ (10) días corridos contados a partir de la fecha en que se
          entregue el bien o se celebre el contrato, lo último que ocurra, sin
          responsabilidad alguna. Esta facultad no puede ser dispensada ni
          renunciada (art. 34 ley 24.240).
        </h5>
        <h5 class="respuestasAyuda">
          Los cargos por servicio que hubieren sido efectivamente prestados por
          TICKET HOUSE no serán en ningún caso devueltos al consumidor, ni aún
          en caso de suspensión, cancelación o reprogramación del evento.
        </h5>
        <h5 class="respuestasAyuda">
          Si por algún motivo, causa o razón la fecha u horario del evento se
          modificara; las localidades adquiridas serán válidas para la fecha
          definitiva que determine el Organizador/Vendedor.
        </h5>
        <h5 class="respuestasAyuda">
          Si el evento se llegase a cancelar, suspender o reprogramar por
          cualquier causa o razón, incluso las que respondan a caso Fortuito o
          de Fuerza Mayor, no existirá derecho alguno a efectuar contra TICKET
          HOUSE, reclamos por devoluciones o reintegros. En este caso el
          ORGANIZADOR tendrá 90 días de la fecha estipulada para la realización
          del evento para efectuar el reintegro del importe de dicha entrada, no
          serán reembolsados los cargos por servicio ni el costo de envío si el
          mismo se hubiese efectuado.
        </h5>
        <h5 class="respuestasAyuda">
          Para que el reintegro se haga efectivo es indispensable la entrega del
          ticket físico (entrada) en los lugares que se habiliten para dicho
          fin, en caso de que el evento cuente con ticket físico.
        </h5>
        <h3 class="preguntasAyuda">Compra</h3>
        <h5 class="respuestasAyuda">
          Tu compra no estará completa hasta que no hagas clic en “Finalizar
          Compra”: Previamente verificá tus datos, forma de pago, método de
          entrega o retiro así como la función seleccionada, fecha, horario,
          ubicación, cantidad de entradas e importe TOTAL a abonar.
        </h5>
        <h5 class="respuestasAyuda">
          Si el evento cuenta con e-ticket nominado, al momento de realizar la
          compra se te solicitará que ingreses nombre, apellido y DNI del
          asistente al evento. Una vez confirmada la compra no podrás modificar
          estos datos bajo ningún concepto, por lo que es importante que los
          revises antes de finalizar el proceso.
        </h5>
        <h5 class="respuestasAyuda">
          En el siguiente paso se te solicitará ingresar los datos de la tarjeta
          de crédito.
        </h5>
        <h5 class="respuestasAyuda">
          En caso de aprobar la compra, el sistema te indicará el número de
          orden de tu compra. Automáticamente se enviará un email de
          confirmación con todos los datos de la operación realizada y el
          e-ticket adjunto en formato.PDF si el evento contara con esta
          modalidad.
        </h5>
        <h5 class="respuestasAyuda">
          Antes de confirmar tu compra, es importante que revises atentamente la
          selección que realizaste: el evento, la sección, precio de las
          localidades, datos ingresados, etc. ya que una vez que la compra esté
          autorizada y finalizada no se aceptará cambio, devolución, reintegro,
          ni cancelación de la misma. La confirmación de tu compra estará sujeta
          a la autorización de la empresa emisora de tu tarjeta de crédito o
          débito. TICKET HOUSE se reserva el derecho de cancelar y/o dar de baja
          toda compra múltiple y/o que contenga información del comprador con
          datos incorrectos y/o incompletos.
        </h5>
        <h5 class="respuestasAyuda">
          El Organizador se reserva el derecho de agregar, modificar el programa
          del evento, variando programas, precios y ubicaciones, así como la
          capacidad del recinto. El Organizador se reserva también el derecho de
          admisión.
        </h5>
        <h5 class="respuestasAyuda">
          Dado que TICKET HOUSE actúa como intermediario y por cuenta y orden
          del Organizador, cualquier reclamo deberá ser ejercido exclusivamente
          ante el Organizador, sin perjuicio de ello, TICKET HOUSE, sin asegurar
          resultado o garantía alguna, podrá ofrecer a su exclusivo criterio sus
          servicios en base a esfuerzos razonables para gestionar dichos
          reclamos.
        </h5>
        <h5 class="respuestasAyuda">
          Para asistir al evento se deberá presentar el ticket físico o e-ticket
          de la forma en que lo establezca el organizador del evento y además
          DNI que acredite la identidad del titular de la entrada. Se sugiere
          asistir al evento con la tarjeta física con la que se abonó la compra
          por cualquier inconveniente que pudiera surgir al ingreso del show.
        </h5>
        <h5 class="respuestasAyuda">
          La llegada tarde del público implicará que el ingreso se efectúe en el
          intervalo si lo hubiera. Previo al ingreso, el público estará sujeto a
          un registro según los términos de la Ley 26.370; cualquier persona que
          se niegue al mismo quedará expuesta a que se le niegue el ingreso al
          predio sin derecho a reclamo alguno contra TICKET HOUSE.
        </h5>
        <h5 class="respuestasAyuda">
          Está PROHIBIDO el ingreso al recinto portando cámaras fotográficas,
          grabadoras, filmadoras, ni cualquier otro elemento similar a los
          mencionados, a criterio del ORGANIZADOR, pudiendo los mismos ser
          retirados y destruido su contenido. El ORGANIZADOR podrá solicitar
          apagar todo equipo de radio o teléfono celular antes del ingreso al
          espectáculo.
        </h5>
        <h3 class="preguntasAyuda">Tickets válidos</h3>
        <h5 class="respuestasAyuda">
          Solo serán válidos para ingresar al predio los tickets que hayan sido
          adquiridos en los puntos de venta habilitados por la empresa (tanto
          web como físicos). Es importante que tomes los recaudos necesarios
          para no adquirir entradas fraudulentas ya que podrá ser objeto de una
          acción judicial en su contra. No compres tickets fuera de los lugares
          habilitados por TICKET HOUSE.
        </h5>
        <h5 class="respuestasAyuda">
          Las localidades adquiridas por intermedio de TICKET HOUSE o cualquiera
          de sus agencias no podrán ser utilizadas para su reventa, uso
          comercial y/o promocional alguno sin la previa autorización del
          organizador.
        </h5>
        <h5 class="respuestasAyuda">
          No compres tickets o entradas para espectáculos fuera de los canales
          habilitados por TICKET HOUSE. Podrían venderte entradas falsas,
          adulteradas o robadas y no podrías entrar a ver el espectáculo o el
          evento deportivo.
        </h5>
        <h5 class="respuestasAyuda">
          Una vez entregados los tickets quedan bajo exclusiva responsabilidad
          del cliente. TICKET HOUSE no se hará cargo por robos, extravíos, o
          daños sobre los mismos.
        </h5>
        <h3 class="preguntasAyuda">Datos Personales</h3>
        <h5 class="respuestasAyuda">Creación de la cuenta</h5>
        <h5 class="respuestasAyuda">
          Para poder acceder a determinadas funciones del Sitio Web u otros
          elementos de los Servicios, tendrás que crear una cuenta TICKET HOUSE.
          Al crear tu cuenta, deberás facilitar determinada información correcta
          y completa. Es importante que mantengas de forma segura y confidencial
          tu contraseña de cuenta TICKET HOUSE.
        </h5>
        <h5 class="respuestasAyuda">
          Los usuarios de TICKET HOUSE proporcionan sus nombres e información
          reales y necesitamos tu colaboración para que siga siendo así. Éstos
          son algunos de los compromisos que aceptas en relación con el registro
          y mantenimiento de la seguridad de tu cuenta:
        </h5>
        <h5 class="respuestasAyuda">
          - No proporcionarás información personal falsa en TICKET HOUSE, ni
          crearás una cuenta para otras personas sin su autorización.
        </h5>
        <h5 class="respuestasAyuda">
          - No crearás más de una cuenta personal.
        </h5>
        <h5 class="respuestasAyuda">
          - Si inhabilitamos tu cuenta, no crearás otra sin nuestro permiso.
        </h5>
        <h5 class="respuestasAyuda">
          - Mantendrás la información de contacto exacta y actualizada.
        </h5>
        <h5 class="respuestasAyuda">
          - No compartirás tu contraseña, no dejarás que otra persona acceda a
          tu cuenta, ni harás nada que pueda poner en peligro la seguridad de tu
          cuenta.
        </h5>
        <h5 class="respuestasAyuda">
          - Privacidad y política de uso de datos Tu privacidad es muy
          importante para nosotros. Hemos diseñado nuestra Política de uso de
          datos para ayudarte a comprender cómo puedes usar TICKET HOUSE para
          compartir información con otras personas y cómo recopilamos y usamos
          tu información.
        </h5>
        <h3 class="preguntasAyuda">Datos recogidos por TICKET HOUSE</h3>
        <h5 class="respuestasAyuda">
          Recogemos datos para mejorar el servicio que brindamos a nuestros
          usuarios.
        </h5>
        <h5 class="respuestasAyuda">
          Aunque nos permitas utilizar la información que recibimos acerca tuyo,
          sos en todo momento su propietario.
        </h5>
        <h5 class="respuestasAyuda">
          No compartimos esta información con otros a menos que: nos hayas dado
          tu permiso; te hayamos advertido, como informándote de ello en esta
          política, o hayamos eliminado tu nombre o cualquier otro dato por el
          que se te pueda identificar.
        </h5>
        <h5 class="respuestasAyuda">
          Cada vez que uses nuestros servicios o que consultes nuestro
          contenido, es posible que obtengamos y que almacenemos determinada
          información en los registros del servidor de forma automática. Estos
          datos podrán incluir: Información detallada sobre cómo utilizas
          nuestro servicio (por ejemplo, tus consultas de búsqueda).
        </h5>
        <h5 class="respuestasAyuda">
          Al utilizar los servicios de TICKET HOUSE, el titular de datos
          personales presta su consentimiento conforme a lo establecido en la
          ley 25.326 de Protección de Datos Personales, a tenor de lo cual
          declara conocer y aceptar que sus datos personales integren la base de
          datos de TICKET HOUSE, otorgando por la presente, autorización expresa
          para: (i) el tratamiento automatizado de dichos datos e información y
          (ii) su utilización para servicios actuales o futuros, que desarrolle
          TICKET HOUSE.
        </h5>
        <h5 class="respuestasAyuda">
          Asimismo, el consumidor conoce y es consciente que al aceptar el
          casillero titulado “Acepto los términos y condiciones del servicio”,
          sus datos personales serán cedidos y/o transferidos por TICKET HOUSE a
          el/los productor/es y/o terceros del evento, aun cuando se encontraren
          en países que no tengan los mismos niveles de privacidad que la
          Argentina, quien/es podrá/n utilizarlos para para comunicarse con Ud.
          y/o organizar, diseñar, elaborar, segmentar y/o dirigir publicitaria,
          acciones de marketing, venta directa y/o enviarle comunicaciones
          relativas a alguno de los productos que comercializan y elaboran y/u
          otras actividades análogas. Sin perjuicio de ello, TICKET HOUSE
          informa a los visitantes que en cualquier momento podrán ejercer la
          facultad de revocar el consentimiento otorgado para la cesión y/o
          transferencia de sus Datos Personales comunicándose con nosotros a
          través del formulario de contacto que encuentra en
          <a href="/">www.tiketHouse.com.ar</a>.
        </h5>
        <h5 class="respuestasAyuda">
          El titular de los datos personales tiene la facultad de ejercer el
          derecho de acceso a los mismos en forma gratuita y a intervalos no
          inferiores a seis meses, salvo que se acredite tener un interés
          legítimo al efecto conforme lo establecido en el artículo 14, inciso 3
          de la Ley Nº 25.326. El titular de los datos, tiene además la
          posibilidad de ejercer los derechos de rectificación, y supresión de
          los datos conforme artículo 6, inciso “e” de la Ley 25.326.
        </h5>
        <h5 class="respuestasAyuda">
          Ley 25.326- Artículo 27- inciso 3. — (Archivos, registros o bancos de
          datos con fines de publicidad). “El titular podrá en cualquier momento
          solicitar el retiro o bloqueo de su nombre de los bancos de datos a
          los que se refiere el presente artículo”.
        </h5>
        <h5 class="respuestasAyuda">
          Decreto 1558/01 –Anexo I- Artículo.- 3º párrafo. “En toda comunicación
          con fines de publicidad que se realice por correo, teléfono, correo
          electrónico, internet u otro medio a distancia a conocer, se deberá
          indicar, en forma expresa y destacada, la posibilidad del titular del
          dato de solicitar el retiro o bloqueo, total o parcial, de su nombre
          de la base de datos. A pedido del interesado, se deberá informar el
          nombre del responsable o usuario del banco de datos que proveyó la
          información”.
        </h5>
        <h5 class="respuestasAyuda">
          La DIRECCION NACIONAL DE PROTECCION DE DATOS PERSONALES, Órgano de
          Control de la Ley Nº 25.326, tiene la atribución de atender las
          denuncias y reclamos que se interpongan con relación al incumplimiento
          de las normas sobre protección de datos personales.
        </h5>
        <h5 class="respuestasAyuda">
          Podemos utilizar la información que recibimos sobre vos como parte de
          nuestro esfuerzo para mantener la seguridad de las integraciones, los
          servicios y los productos de TICKET HOUSE ; para proteger los derechos
          o la propiedad de TICKET HOUSE o terceros; para mejorar la experiencia
          del usuario y la calidad general de nuestros servicios, para
          proporcionar funciones, contenidos y servicios que pudieran ser de tu
          interés; para ofrecerte anuncios relevantes a tu perfil, para
          operaciones internas, incluidos la solución de problemas, el análisis
          de datos, la investigación, el desarrollo y la mejora del servicio.
        </h5>
        <h5 class="respuestasAyuda">
          Concedernos este permiso nos permite desarrollar nuevas
          funcionalidades y servicios utilizando la información que recibimos
          sobre ti de forma innovadora.
        </h5>
        <h5 class="respuestasAyuda">
          Podremos utilizar tu dirección de correo electrónico para enviarte
          información acerca de nuestros servicios, incluyendo información sobre
          próximos cambios o mejoras.
        </h5>
        <h5 class="respuestasAyuda">
          Te pediremos tu consentimiento antes de utilizar tus datos para
          cualquier fin distinto de los establecidos en la presente Política de
          privacidad.
        </h5>
        <h5 class="respuestasAyuda">
          No compartiremos tus datos personales con empresas, organizaciones o
          personas físicas ajenas a TICKET HOUSE, salvo que nos hayas dado tu
          consentimiento para hacerlo o si existieran razones legales como
          atender cualquier requerimiento de un órgano administrativo o
          judicial, cumplir lo previsto en las condiciones de servicio vigentes,
          incluida la investigación de posibles infracciones, detectar o impedir
          cualquier fraude o incidencia técnica o de seguridad.
        </h5>
        <h5 class="respuestasAyuda">
          Podremos compartir datos consolidados y de carácter no personal con el
          público en general y con nuestros partners, incluyendo editores,
          anunciantes y sitios web relacionados. Por ejemplo, podremos compartir
          públicamente datos para mostrar tendencias sobre la utilización
          general de nuestros servicios.
        </h5>
        <h5 class="respuestasAyuda">
          Nos esforzamos por proteger a nuestros usuarios frente a cualquier
          modificación, divulgación o destrucción no autorizada de los datos que
          conservamos o frente al acceso no autorizado a los mismos.
        </h5>
        <h3 class="preguntasAyuda">Cumplimiento</h3>
        <h5 class="respuestasAyuda">
          En TICKET HOUSE verificamos el cumplimiento de nuestra Política de
          privacidad de forma periódica. En caso de que recibamos un reclamo
          formal por escrito, nos pondremos en contacto con la persona que la
          haya formulado para hacer un seguimiento de la misma.
        </h5>
        <h5 class="respuestasAyuda">
          Trabajaremos con las autoridades reguladoras competentes, incluyendo
          las autoridades locales de protección de datos, para resolver
          cualquier reclamo relacionado con la transferencia de datos de
          carácter personal que no hayamos podido solucionar directamente con el
          usuario.
        </h5>
        <h3 class="preguntasAyuda">Modificaciones</h3>
        <h5 class="respuestasAyuda">
          Nuestra política de privacidad se podrá modificar en cualquier
          momento. No limitaremos los derechos que te corresponden con arreglo a
          la presente Política de privacidad sin tu expreso consentimiento.
          Publicaremos todas las modificaciones de la presente Política de
          privacidad en esta página y, si son significativas, efectuaremos una
          notificación más destacada (por ejemplo, te enviaremos una
          notificación por correo electrónico si la modificación afecta a
          determinados servicios). Además, archivaremos las versiones anteriores
          de la presente Política de privacidad para que puedas consultarlas.
        </h5>
        <h3 class="preguntasAyuda">Terminación</h3>
        <h5 class="respuestasAyuda">
          TICKET HOUSE se reserva el derecho a su sola discreción y sin
          notificación alguna de suspender o cancelar su registración al sitio
          por violación de los terminos y condiciones de uso del servicio. Por
          tu parte como usuario puedes eliminar tu cuenta o desactivar tu
          aplicación en cualquier momento.
        </h5>
        <h5 class="respuestasAyuda">
          Aceptas ser el único responsable (frente a TICKET HOUSE y a otros
          terceros) de toda tu actividad en TICKET HOUSE.
        </h5>
        <h5 class="respuestasAyuda">
          Aceptas cumplir con todas las demás disposiciones de los Términos y
          Condiciones y de las Directrices de la Comunidad TICKET HOUSE en todo
          momento mientras utilices los Servicios. Asimismo no facilitarás ni
          fomentarás el incumplimiento de esta Declaración o nuestras políticas.
        </h5>
        <h3 class="preguntasAyuda">Conflictos</h3>
        <h5 class="respuestasAyuda">
          En caso de controversia y/o cualquier demanda, causa de acción o
          conflicto, que tengas con TICKET HOUSE y en relación con la presente
          Declaración, aceptas someterte a la competencia de los Tribunales
          Ordinarios con asiento en la Ciudad Autónoma de Buenos Aires.
        </h5>
        <h5 class="respuestasAyuda">
          Nuestro objetivo es mantener TICKET HOUSE en funcionamiento, sin
          errores y seguro, pero debes utilizarlo con responsabilidad. No
          ofrecemos garantía alguna expresa o tácita, incluídas, las garantías
          de comerciabilidad.
        </h5>
        <h5 class="respuestasAyuda">
          No garantizamos que TICKET HOUSE sea siempre seguro o esté libre de
          errores, ni que funcione sin interrupciones o retrasos. TICKET HOUSE
          no se responsabiliza de las acciones, el contenido, la publicación, la
          información o los datos de terceros y por la presente nos eximís a
          nosotros, nuestros Directivos, empleados, proveedores de cualquier
          demanda, reclamos, daños, conocidos o desconocidos, derivados o
          relacionados con cualquier demanda contra terceros.
        </h5>
        <h3 class="preguntasAyuda">Otros</h3>
        <h5 class="respuestasAyuda">
          Esta Declaración constituye el acuerdo entre TICKET HOUSE y vos,
          constituye el acuerdo completo entre las partes y sustituye cualquier
          acuerdo previo.
        </h5>
        <h5 class="respuestasAyuda">
          Si alguna parte de esta Declaración no puede hacerse cumplir, el resto
          de las disposiciones seguirán teniendo validez y efectos entre las
          partes.
        </h5>
        <h5 class="respuestasAyuda">
          Si no cumpliéramos alguna parte de esta Declaración, no se considerará
          una exoneración.
        </h5>
        <h5 class="respuestasAyuda">
          Cualquier corrección y/o exención de esta Declaración deberá hacerse
          por escrito y estar firmada por nosotros.
        </h5>
        <h5 class="respuestasAyuda">
          No transferirás ninguno de tus derechos u obligaciones bajo esta
          Declaración a ningún tercero sin nuestro consentimiento.
        </h5>
        <h5 class="respuestasAyuda">
          Todos nuestros derechos y obligaciones según esta Declaración son
          asignables libremente por nosotros en conexión con una fusión,
          adquisición o venta de activos o por efecto de ley o de algún otro
          modo.
        </h5>
        <h5 class="respuestasAyuda">
          Nada en esta Declaración nos impedirá el cumplimiento de la ley. Esta
          Declaración no otorga derechos de beneficiario a ningún tercero.
        </h5>
        <h5 class="respuestasAyuda">
          Nos reservamos todos los derechos que no te hayamos concedido de forma
          expresa Cuando accedas a TICKET HOUSE o lo uses deberás cumplir todas
          las leyes aplicables.
        </h5>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
